/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.h-27px {
  height: 27px;
}

.mt-4px {
  margin-top: 4px;
}

.jumbotron {
  background-image: url("../img/webis-welcome1.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

@media (min-width: 1860px) {
  .jumbotron {
    background-size: 100% auto;
  }
}

.jumbotron .container {
  color: white;
  text-shadow: 2px 2px 5px grey;
  
}

.logo-align-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

