@import url("../css/webis.css");

.jumbotron {
  background-image: url("../img/webis-network-welcome.jpg");
  background-size: cover;
  border-radius: 0;
  margin-bottom:0 ;
}

.jumbotron .container {
  color: white;
  text-shadow: 2px 2px 5px darkgrey;
  max-width: 575px;
}

.jumbotron .container h1 {
  font-size: 3rem;
}

.jumbotron .container .lead {
  font-size: 1.1rem;
}

.min-empty-space {
  min-height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
