@import url("bootstrap.min.css");
@import url("font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  /* Move down content because we have a fixed navbar that is 3.5rem tall */
  padding-top: 3.5rem;
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
}

/* navbar */

nav {
  font-size: 16px;
}
.navbar-brand {
  margin-right: 2rem;
}
.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}
.dropdown-menu {
  font-size: inherit;
}
.dropdown-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 14px;
}

/* main */

.main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
  font-size: 13px;
}

.main a {
  color: rgb(6, 69,173) !important;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.65em;
}

h2 {
  font-size: 1.5rem;
}

.table-of-contents {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.table-of-contents li {
  margin-bottom: 2px;
  list-style: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAARAAAAEQB6rnU3wAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB1SURBVBiVfU87CgJBFEseC5Z6E2sbu4F3Ee3mQnoI28DcYE+jpYUTq5VFB1MFEvKhbfwDM/PQe9+NxIi4T7ZfEXEDsPnSn7aPIWkmWX+iySpp5rIhMy8kTwBg+yrpDADTqq/a3i/8k7R+UUrZAkBr7TE0jPAG3mEw1f4Hsd4AAAAASUVORK5CYII=');
}

.container, .container-fluid {
  padding-left: 2px;
  padding-right: 2px;
}


.list-container {
  margin-bottom: 2rem;
}
.list-container .date {
  color: #666;
  padding-left: 12px;
}
.list-container .entry {
  border-top-color: #D9D9D9;
  border-top-style: solid;
  border-top-width: 1px;
  padding-bottom: 15px;
  padding-top: 15px;
}
.list-container .image {
  display: table-cell;
  vertical-align: middle;
  width: 120px;
}
.list-container .right {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
.list-container h2 {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

/* footer */

@media (min-width: 576px) {
  .footer {
      text-align: left;
  }
}

.footer {
  font-size: 12px;
  text-align: center;
  background-color: #f7f7f7;
}

footer .media img {
  width: 26px;
  height: 26px;
}

footer a {
  color: #868e96;
}

footer a:hover {
  color: #868e96;
  text-decoration: underline;
}

/* font awesome */

a .fa {
  color: black;
}

/* sizing classes */

.h-27px {
  height: 27px;
}

.mt-4px {
  margin-top: 4px;
}

.mt--5px {
  margin-top: -10px;
}
