// Index styles

.people-university {
    text-transform: $nav-header-text-transform;
}

.section-header {
    text-transform: $section-header-text-transform;
}

@media (min-width: $breakpoint-medium) {
    .index-main-cover {
        height: 60vh;
    }
}

.cover-background-fade {
    @extend .uk-position-cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.85) 85%);
}

.index-main-cover {
    background: url("../img/index-cover-01.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 450px;
}

.name {
    font-weight: lighter;
}

.people {
    .uk-card-body {
        padding: 10px;
        text-align: center;
        transform: rotate(-3deg);
    }
}

.search-engine-icon {
    width: 52px;
    height: 52px;
    padding-top: .1em;
}

.search-engine-card:hover {
    background-color: $background-muted-background;
}

.search-engines {
    & > .uk-container {
        margin-bottom: 10px;
    }
}

.footer-section {
    background-color: #323232;

    @extend .uk-text-small;
    @extend .uk-text-muted;

    a {
        @extend .uk-text-muted;
    }
}
