BODY {

font-size : .9em; 

font-family : Arial, Helvetica, sans-serif; 

font-weight : normal; 

color : #000000; 

background-color : #FFFFFF;

margin : 0 0 0 0;

padding : 0 0 0 0;

width : auto; 

}



H1 {

font-family : Arial, Helvetica, sans-serif; 

font-style : normal; 

font-variant : normal; 

font-weight : bold; 

font-size : 1.2em; 

color : #000000; 

background-color : transparent; 

}



.errortext {

  font-family : Arial, Helvetica, sans-serif; 

  font-size : .9em;

  color : red;

  font-weight : bold;

}



.bg_dark {

	background-color : #666666;

	color: #FFFFFF;

}



.bg_medium {

	background-color : #C6CEDE;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	color: #000063;

	margin: 5px;

	border-top-width: 1px;

	border-bottom-width: 1px;

	border-top-style: solid;

	border-bottom-style: solid;

	border-top-color: #000000;

	border-bottom-color: #000000;

}



.bg_light {

	background-color : #CCCC99;

	color: #666666;

}



.alt_bg_dark {

	background-color : #CCCC99;

	color: #666666;

}



.alt_bg_medium {

	background-color : #CCFF00;

	color: #666666;

}



.alt_bg_light {

	background-color : #CCCC99;

	color: #666666;

}.header {

	background-color : #CCCC99;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #000000;

	margin-top: 4px;

	margin-bottom: 4px;

}

.content {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #666666;

}

.main {

}

a:link {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #666666;

}

a:visited {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: #666666;

}

.leftside {

	border-top-width: 1px;

	border-right-width: 1px;

	border-bottom-width: 1px;

	border-left-width: 1px;

	border-right-style: solid;

	border-top-color: #666666;

	border-right-color: #666666;

	border-bottom-color: #666666;

	border-left-color: #666666;

}

.rightside {

	border-top-width: 1px;

	border-right-width: 1px;

	border-bottom-width: 1px;

	border-left-width: 1px;

	border-left-style: solid;

	border-top-color: #666666;

	border-right-color: #666666;

	border-bottom-color: #666666;

	border-left-color: #666666;

}

.page {

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #000000;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: 666666;

}

a:hover {

	color: #CC6600;

}

.footer {

	background-color : #6B84AD;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #000000;

	margin-top: 4px;

	margin-bottom: 4px;

	padding: 0px;

	height: 25px;

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

	color: #FFFFFF;

}

.topbottom {

	background-color: #3C4E6C;

	border: 0px;

	margin: 0px;

	padding: 0px;

	height: 13px;

}
