<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://weimar.webis.de/people#ajjour" class="uk-link-reset">
            <!-- Picture of person -->
            <!-- You may omit the if-statements here in actual use. These are only here to demonstrate parametrized includes. -->
            <div class="thumbnail-left"><img src="{{ '/img/people/ajjour.jpg' | relative_url }}" alt="Yamen Ajjour"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Yamen Ajjour</div> <!-- Name -->
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Bauhaus-Universität Weimar</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-bauhaus-universitaet-weimar.png' | relative_url }}"
                 alt="Affiliation logo">
            </div>
        </a>
    </div>
</div>
