<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://webis.de/publications.html?q=khalid%2Bal-khatib" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/alkhatib.jpg' | relative_url }}" alt="Khalid Al-Khatib"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Khalid Al-Khatib</div> <!-- Name -->
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Leipzig University</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-universitaet-leipzig.png' | relative_url }}"
                 alt="Universität Leipzig logo">
            </div>
        </a>
    </div>
</div>
