<div>
  <div class="uk-card uk-card-default uk-card-body">
    <a href="https://www.law.pitt.edu/people/kevin-ashley" class="uk-link-reset">
        <div class="thumbnail-left"><img src="{{ '/img/people/ashley.jpg' | relative_url }}" alt="Kevin Ashley"></div>
        <div class="uk-height-1-1">
            <div class="uk-card-title">Kevin Ashley</div>
            <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">University of Pittsburgh</div>
            <img class="uk-position-bottom-right thumbnail-card-logo"
                src="{{ '/img/organizations/logo-pittsburgh.png' | relative_url }}"
                alt="University of Pittsburgh logo">
        </div>
    </a>
  </div>
</div>
