<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://cenia.cl/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/barriere.jpg' | relative_url }}" alt="Valentin Barriere"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Valentin Barriere</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Centro Nacional de Inteligencia Artificial</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-centro-nacional-de-inteligencia-artificial.svg' | relative_url }}"
                     alt="Centro Nacional de Inteligencia Artificial logo">
            </div>
        </a>
    </div>
</div>
