<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.inf.uni-hamburg.de/en/inst/ab/lt/people/meriem-beloucif.html" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/beloucif.png' | relative_url }}" alt="Meriem Beloucif"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Meriem Beloucif</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Universität Hamburg</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-hamburg.png' | relative_url }}"
                 alt="Universität Hamburg logo">
            </div>
        </a>
    </div>
</div>
