<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.katalog.uu.se/empinfo/?id=N22-800" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/beloucif.png' | relative_url }}" alt="Meriem Beloucif"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Meriem Beloucif</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Uppsala Universitet</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-uppsala-universitet.svg' | relative_url }}"
                     alt="Uppsala Universitet logo">
            </div>
        </a>
    </div>
</div>
