<div>
  <div class="uk-card uk-card-default uk-card-body">
    <a href="https://www.cs.cornell.edu/home/cardie/" class="uk-link-reset">
        <div class="thumbnail-left"><img src="{{ '/img/people/cardie.jpg' | relative_url }}" alt="Claire Cardie"></div>
        <div class="uk-height-1-1">
            <div class="uk-card-title">Claire Cardie</div>
            <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Cornell University</div>
            <img class="uk-position-bottom-right thumbnail-card-logo"
                src="{{ '/img/organizations/logo-cornell.png' | relative_url }}"
                alt="Cornell Univeristy logo">
        </div>
    </a>
  </div>
</div>
