<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.ai.uni-hannover.de/en/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/chen.jpg' | relative_url }}" alt="Wei-Fan Chen"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Wei-Fan Chen</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Leibniz University Hannover</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-leibnitz-university-hannover.svg' | relative_url }}"
                     alt="Leibniz University Hannover logo">
            </div>
        </a>
    </div>
</div>
