<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://cs.uni-paderborn.de/css/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/chen.jpg' | relative_url }}" alt="Wei-Fan Chen"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Wei-Fan Chen</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Paderborn University</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-pu.png' | relative_url }}"
                 alt="Paderborn University logo">
            </div>
        </a>
    </div>
</div>
