<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://www.sc.cit-ec.uni-bielefeld.de/team/philipp-cimiano/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/cimiano.jpg' | relative_url }}" alt="Philipp Cimiano"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Philipp Cimiano</div> <!-- Name -->
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Bielefeld University</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-bielefeld-university.png' | relative_url }}"
                 alt="Affiliation logo">
            </div>
        </a>
    </div>
</div>
