<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://leipzig.webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/gienapp.jpg' | relative_url }}" alt="Martin Potthast"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Lukas Gienapp</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Leipzig University</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-universitaet-leipzig.png' | relative_url }}"
                 alt="Universität Leipzig logo">
            </div>
        </a>
    </div>
</div>
