<div>
  <div class="uk-card uk-card-default uk-card-body">
    <a href="https://compsci.uncg.edu/faculty/green" class="uk-link-reset">
        <div class="thumbnail-left"><img src="{{ '/img/people/silhouette-female.jpg' | relative_url }}" alt="Nancy Green"></div>
        <div class="uk-height-1-1">
            <div class="uk-card-title">Nancy Green</div>
            <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">University of North Carolina Greensboro</div>
            <img class="uk-position-bottom-right thumbnail-card-logo"
                src="{{ '/img/organizations/logo-carolina.png' | relative_url }}"
                alt="University of North Carolina Greensboro logo">
        </div>
    </a>
  </div>
</div>
