<div>
  <div class="uk-card uk-card-default uk-card-body">
    <a href="https://www.informatik.tu-darmstadt.de/ukp/ukp_home/index.en.jsp" class="uk-link-reset">
        <div class="thumbnail-left"><img src="{{ '/img/people/habernal.jpg' | relative_url }}" alt="Ivan Habernal"></div>
        <div class="uk-height-1-1">
            <div class="uk-card-title">Ivan Habernal</div>
            <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Technische Universität Darmstadt</div>
            <img class="uk-position-bottom-right thumbnail-card-logo"
                src="{{ '/img/organizations/logo-darmstadt.png' | relative_url }}"
                alt="Technische Universität Darmstadt logo">
        </div>
    </a>
  </div>
</div>
