<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://jena.webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/hagen.jpg' | relative_url }}" alt="Matthias Hagen"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Matthias Hagen</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Friedrich Schiller University Jena</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-fsu-jena.jpg' | relative_url }}"
                     alt="Friedrich Schiller University Jena logo">
            </div>
        </a>
    </div>
</div>
