<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://sanofi.com/en/science-and-innovation/research-and-development" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/hemamou.jpg' | relative_url }}" alt="Léo Hemamou"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Léo Hemamou</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Sanofi R&D France</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-sanofi.svg' | relative_url }}"
                     alt="Sanofi logo">
            </div>
        </a>
    </div>
</div>
