<div>
  <div class="uk-card uk-card-default uk-card-body">
    <a href="https://weimar.webis.de/people#kiesel" class="uk-link-reset">
        <div class="thumbnail-left"><img src="{{ '/weimar/people/img/kiesel.jpg' | relative_url }}" alt="Johannes Kiesel"></div>
        <div class="uk-height-1-1">
            <div class="uk-card-title">Johannes Kiesel</div>
            <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Bauhaus-Universität Weimar</div>
            <img class="uk-position-bottom-right thumbnail-card-logo"
                src="{{ '/img/organizations/logo-bauhaus-universitaet-weimar.png' | relative_url }}"
                alt="Bauhaus-Universität Weimar logo">
        </div>
    </a>
  </div>
</div>
