<div>
  <div class="uk-card uk-card-default uk-card-body">
    <a href="https://research.adobe.com/person/nedim-lipka/" class="uk-link-reset">
        <div class="thumbnail-left"><img src="{{ '/img/people/lipka.jpg' | relative_url }}" alt="Nedim Lipka"></div>
        <div class="uk-height-1-1">
            <div class="uk-card-title">Nedim Lipka</div>
            <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Adobe Research, San Jose</div>
            <img class="uk-position-bottom-right thumbnail-card-logo"
                src="{{ '/img/organizations/logo-adobe.png' | relative_url }}" style="transform: scale(0.4,0.5);
                    margin-bottom: -10px;
                    margin-right: -10px;" alt="Adobe logo">
        </div>
    </a>
  </div>
</div>
