<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://jena.webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/luck.jpg' | relative_url }}" alt="Simon Luck"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Simon Luck</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Università di Bologna</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-university-of-bologna.svg' | relative_url }}"
                     alt="Università di Bologna logo">
            </div>
        </a>
    </div>
</div>
