<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://faculty.skoltech.ru/people/alexanderpanchenko" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/apanchenko.jpg' | relative_url }}" alt="Alex Panchenko"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Alexander Panchenko</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Skoltech</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/skoltech-logo.png' | relative_url }}"
                 alt="Skolkovo Institute of Science and Technology logo">
            </div>
        </a>
    </div>
</div>
