<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://brianrave.net/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/ravenet.jpg' | relative_url }}" alt="Brian Ravenet"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Brian Ravenet</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Université Paris-Saclay</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-universite-paris-saclay.svg' | relative_url }}"
                     alt="Université Paris-Saclay logo">
            </div>
        </a>
    </div>
</div>
