<div>
  <div class="uk-card uk-card-default uk-card-body">
    <a href="https://www.dundee.ac.uk/people/chris-reed" class="uk-link-reset">
        <div class="thumbnail-left"><img src="{{ '/img/people/reed.jpg' | relative_url }}" alt="Chris Reed"></div>
        <div class="uk-height-1-1">
            <div class="uk-card-title">Chris Reed</div>
            <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">University of Dundee</div>
            <img class="uk-position-bottom-right thumbnail-card-logo"
                src="{{ '/img/organizations/logo-dundee.png' | relative_url }}"
                alt="University of Dundee logo">
        </div>
    </a>
  </div>
</div>
