<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://halle.webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/schlatt.jpg' | relative_url }}" alt="Ferdinand Schlatt"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Ferdinand Schlatt</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Martin Luther University Halle-Wittenberg</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-martin-luther-university-halle-wittenberg.svg' | relative_url }}"
                     alt="Martin Luther University Halle-Wittenberg logo">
            </div>
        </a>
    </div>
</div>
