<div>
  <div class="uk-card uk-card-default uk-card-body">
    <a href="https://www.cis.uni-muenchen.de/personen/professoren/schuetze/" class="uk-link-reset">
        <div class="thumbnail-left"><img src="{{ '/img/people/schuetze.jpg' | relative_url }}" alt="Hinrich Schuetze">
        </div>
        <div class="uk-height-1-1">
            <div class="uk-card-title">Hinrich Sch&uuml;tze</div>
            <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Ludwig-Maximilians-Universit&auml;t,
                Munich</div>
            <img class="uk-position-bottom-right thumbnail-card-logo"
                src="{{ '/img/organizations/logo-lmu.png' | relative_url }}" style="margin-bottom: 2%;"
                alt="Ludwig-Maximilians-Universität logo">
        </div>
    </a>
  </div>
</div>
