<div>
  <div class="uk-card uk-card-default uk-card-body">
    <a href="https://researcher.watson.ibm.com/researcher/view.php?person=il-NOAMS" class="uk-link-reset">
        <div class="thumbnail-left"><img src="{{ '/img/people/slonim.jpg' | relative_url }}" alt="Noam Slonim"></div>
        <div class="uk-height-1-1">
            <div class="uk-card-title">Noam Slonim</div>
            <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">IBM</div>
            <img class="uk-position-bottom-right thumbnail-card-logo"
                src="{{ '/img/organizations/logo-ibm.png' | relative_url }}"
                alt="IBM logo">
        </div>
    </a>
  </div>
</div>
