<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://www3.icsd.aegean.gr/lecturers/stamatatos/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/stamatatos.jpg' | relative_url }}" alt="Efstathios Stamatatos"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Efstathios Stamatatos</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">University of the Aegean</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-university-of-the-aegean.png' | relative_url }}"
                 alt="University of the Aegean">
            </div>
        </a>
    </div>
</div>
