<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://leipzig.webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/syed.jpg' | relative_url }}" alt="Shahbaz Syed"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Shahbaz Syed</div>
                <div class="uk-text-muted uk-margin-small-top">Leipzig University</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-leipzig-university.svg' | relative_url }}"
                     alt="Leipzig University logo">
            </div>
        </a>
    </div>
</div>
