<div>
  <div class="uk-card uk-card-default uk-card-body">
    <a href="https://law.hofstra.edu/directory/faculty/emeritus/walker/" class="uk-link-reset">
        <div class="thumbnail-left"><img src="{{ '/img/people/walker.jpg' | relative_url }}" alt="Vern R Walker"></div>
        <div class="uk-height-1-1">
            <div class="uk-card-title">Vern R. Walker</div>
            <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Maurica A. Deane School of Law at Hofstra University</div>
            <div>
              <img class="uk-position-bottom-right thumbnail-card-logo"
                   src="{{ '/img/organizations/logo-hofstra.png' | relative_url }}"
                   alt="Maurica A. Deane School of Law at Hofstra University logo">
            </div>
        </div>
    </a>
  </div>
</div>
