---

layout: workshop
nav_active: shared task 2
title: Clickbait Challenge at SemEval 2023 - Clickbait Spoiling
description: Clickbait posts link to web pages and advertise their content by arousing curiosity instead of providing informative summaries. Clickbait spoiling aims at generating short texts that satisfy the curiosity induced by a clickbait post.
shared_tasks: 2
additional_css: ['https://assets.webis.de/css/workshop.css']
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="https://webis.de/index.html">Webis.de</a></li>
<li><a href="https://webis.de/events.html">Events</a></li>
<li><a href="index.html">Workshop Title</a></li>
<li class="uk-disabled"><a href="#">Shared Task Title</a></li>
</ul>
</nav>

<script type="application/ld+json">
{
    "@context":"http://schema.org/",
    "@type":"Shared Task",
    "name":"Clickbait Challenge at SemEval 2023: Clickbait Spoiling",
    "description":"Clickbait posts link to web pages and advertise their content by arousing curiosity instead of providing informative summaries. Clickbait spoiling aims at generating short texts that satisfy the curiosity induced by a clickbait post.",
    "text":"The clickbait spoiling task is organized as part of SemEval 2023.",
    "url":"https://webis.de/events/clickbait-challenge-23/index.html",
    "sameAs":"https://zenodo.org/record/6362726#.YqRC7DVBzrk",
    "keywords":[
        "clickbait",
        "question answering",
        "passage retrieval",
        "clickbait spoiling", 
        "semeval"
    ], 
    "creator":[
        {
            "@type":"Organization",
            "url":"https://webis.de/",
            "name":"The Web Technology & Information Systems Network",
            "alternateName":"Webis"
        },
        {
            "@id":"https://orcid.org/0000-0002-1003-981X", 
            "@type":"Person", 
            "url":"http://maik-froebe.de",
            "affiliation":"Friedrich-Schiller-Universit\u00e4t Jena", 
            "name":"Fr\u00f6be, Maik"
        },
        {
            "@type":"Person", 
            "url":"https://www.uni-weimar.de/en/media/chairs/computer-science-department/webis/people/#gollub",
            "affiliation":"*Bauhaus-Universit\u00e4t Weimar", 
            "name":"Gollub, Tim"
        },
        {
            "@id":"https://orcid.org/0000-0002-9733-2890", 
            "@type":"Person", 
            "url":"http://matthias-hagen.de",
            "affiliation":"Friedrich-Schiller-Universit\u00e4t Jena", 
            "name":"Hagen, Matthias"
        },
        {
            "@id":"https://orcid.org/0000-0003-2451-0665", 
            "@type":"Person", 
            "url":"https://temir.org/people.html#potthast",
            "affiliation":"Leipzig University", 
            "name":"Potthast, Martin"
        }
    ],
    "includedInDataCatalog":{
    },
    "distribution":[
    ]
}
</script>

<main class="uk-section uk-section-default">
    <div class="uk-container">
        <h1>Clickbait Challenge Task 2: Spoiler Generation</h1>

        <ul class="uk-list">
            <!-- Comment out sections you do not provide -->
            <li><span data-uk-icon="chevron-down"></span> <a href="#synopsis">Synopsis</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#task">Task</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#data">Data</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#evaluation">Evaluation</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#submission">Submission</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#results">Results</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#related-work">Related Work</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#task-committee">Task Committee</a></li>
        </ul>
    </div>

    <div class="uk-container uk-margin-medium">
        <!--
        SECTION Synopsis
        -->
        <h2><a id="synopsis"></a>Synopsis</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>You may provide links to associated resources, like so: [<a>link</a>]</p>


        <!--
        SECTION Task
        -->
        <h2><a id="task"></a>Task</h2>

        <p>More detailed task description.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


        <!--
        SECTION Data
        -->
        <h2><a id="data"></a>Data</h2>
        <p>Dataset descriptions. For example:</p>

        <h3 class="uk-margin-small-top">Input Format</h3>
        <p>Input format description.</p>

        <h3 class="uk-margin-small-top">Output Format</h3>
        <p>Output format description.</p>


        <!--
        SECTION Evaluation
        -->
        <h2><a id="evaluation"></a>Evaluation</h2>
        <p>Description of evaluation setup and criteria.</p>


        <!--
        SECTION Submission
        -->
        <h2><a id="submission"></a>Submission</h2>
        <p>Description of submission requirements.</p>

        <!--
        SECTION Results
        -->
        <h2><a id="results"></a>Results</h2>
        <table class="uk-table uk-table-divider uk-table-small uk-table-hover">
            <thead>
                <tr>
                    <th>team</th>
                    <th colspan="3" align="center">results</th>
                </tr>
                <tr>
                    <th></th>
                    <th>precision</th>
                    <th>recall</th>
                    <th>f-score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>lorem</td>
                    <td>0.35</td>
                    <td>0.70</td>
                    <td>0.47</td>
                </tr>
                <tr>
                    <td>ipsum</td>
                    <td>0.46</td>
                    <td>0.36</td>
                    <td>0.40</td>
                </tr>
            </tbody>
        </table>


        <!--
        SECTION Related Work
        -->
        <h2><a id="related-work"></a>Related Work</h2>
        <div id="publications-list">
        <!--
        You do not need to add anything here. Just change "Shared Task-title" below.
        -->
        </div>


        <!--
        SECTION Task Committee
        -->
        <h2><a id="task-committee"></a>Task Committee</h2>
        <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
            {% include templates/people-card.html gender="female" %}
            {% include templates/people-card.html gender="male" %}
        </div>
    </div>
</main>

<script src="https://assets.webis.de/js/filter.js"></script>
<script>
includeBibentries(document.getElementById("publications-list"), "keywords:Shared Task+title");
</script>
