<div class="task-chair-organizations">
<!--    {% if include.year >= 2018 %}-->
<!--    <div>-->
<!--        <a href="http://leipzig.webis.de" target="_blank">-->
<!--            <img src="{{ '/img/organizations/logo-universitaet-leipzig.png' | relative_url }}"-->
<!--                 alt="Universität Leipzig logo">-->
<!--        </a>-->
<!--    </div>-->
<!--    {% endif %}-->
<!--    <div>-->
<!--        <a href="http://www.upv.es/" target="_blank">-->
<!--            <img src="{{ '/img/organizations/logo-universitat-politecnica-de-valencia.png' | relative_url }}"-->
<!--                 alt="Universitat Politecnica de Valencia logo">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div>-->
<!--        <a href="http://www.aegean.gr/" target="_blank">-->
<!--            <img src="{{ '/img/organizations/logo-university-of-the-aegean.png' | relative_url }}"-->
<!--                 alt="University of the Aegean logo">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div>-->
<!--        <a href="http://www.weimar.webis.de" target="_blank">-->
<!--            <img src="{{ '/img/organizations/logo-bauhaus-universitaet-weimar.png' | relative_url }}"-->
<!--                 alt="Bauhaus-Universtät Weimar logo">-->
<!--        </a>-->
<!--    </div>-->
<!--    {% if include.year >= 2013 and include.year <= 2018 %}-->
<!--    <div>-->
<!--        <a href="http://autoritas.net/en/" target="_blank">-->
<!--            <img src="{{ '/img/organizations/logo-autoritas.png' | relative_url }}" alt="Autoritas logo">-->
<!--        </a>-->
<!--    </div>-->
<!--    {% endif %}-->
    {% if include.year <= 2016 %}
    <div>
        <a href="http://cordis.europa.eu/projects/rcn/99075_en.html" target="_blank">
            <img src="{{ '/img/organizations/logo-wiqei.png' | relative_url }}" alt="WiQ-Ei logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2014 or include.year == 2012 %}
    <div>
        <a href="http://www.esf.org/" target="_blank">
            <img src="{{ '/img/organizations/logo-esf.jpg' | relative_url }}" alt="ESF logo">
        </a>
    </div>
    <div>
        <a href="http://elias-network.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-elias.jpg' | relative_url }}" alt="Elias logo">
        </a>
    </div>
    {% endif %}
<!--    {% if include.year == 2013 %}-->
<!--    <div>-->
<!--        <a href="http://www.usi.ch/" target="_blank">-->
<!--            <img src="{{ '/img/organizations/logo-university-of-lugano-usi.gif' | relative_url }}" alt="University of Lugano logo">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div>-->
<!--        <a href="http://www1.biu.ac.il/" target="_blank">-->
<!--            <img src="{{ '/img/organizations/logo-bar-ilan-university.png' | relative_url }}" alt="Bar Ilan University logo">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div>-->
<!--        <a href="http://www.duq.edu/" target="_blank">-->
<!--            <img src="{{ '/img/organizations/logo-duquesne-university.jpg' | relative_url }}" alt="Duquesne University logo">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div>-->
<!--        <a href="http://www.iit.edu/" target="_blank">-->
<!--            <img src="{{ '/img/organizations/logo-illinois-institute-of-technology.png' | relative_url }}" alt="Illinois Institute of Technology logo">-->
<!--        </a>-->
<!--    </div>-->
<!--    {% endif %}-->
    {% if include.year == 2010 %}
    <div>
        <a href="http://clef2010.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef10.png' | relative_url }}" alt="CLEF Padus 2010 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2011 %}
    <div>
        <a href="http://clef2011.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef11.png' | relative_url }}" alt="CLEF Amsterdam 2011 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2012 %}
    <div>
        <a href="http://clef2012.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef12.png' | relative_url }}" alt="CLEF Valencia 2012 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2013 %}
    <div>
        <a href="http://clef2013.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef13.png' | relative_url }}" alt="CLEF Valencia 2013 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2014 %}
    <div>
        <a href="http://clef2014.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef14.png' | relative_url }}" alt="CLEF Sheffield 2014 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2015 %}
    <div>
        <a href="http://clef2015.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef15.png' | relative_url }}" alt="CLEF Toulouse 2015 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2016 %}
    <div>
        <a href="http://clef2016.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef16.png' | relative_url }}" alt="CLEF Evora 2016 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2017 %}
    <div>
        <a href="http://clef2017.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef17.png' | relative_url }}" alt="CLEF Dublin 2017 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2018 %}
    <div>
        <a href="http://clef2018.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef18.png' | relative_url }}" alt="CLEF Avignon 2018 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2019 %}
    <div>
        <a href="http://clef2019.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef19.png' | relative_url }}" alt="CLEF Lugano 2019 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2020 %}
    <div>
        <a href="http://clef2020.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef20.png' | relative_url }}" alt="CLEF Thessaloniki 2020 logo">
        </a>
    </div>
    {% endif %}
    <div>
        <a href="http://www.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef2.png' | relative_url }}" alt="CLEF logo">
        </a>
    </div>
</div>
