@import url("../../css/webis.css");

ul.collection, ul.collection li, ul.collection li * {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
ul.collection {
  padding: 0;
  margin: 0px;
  list-style: none;
  -ms-box-orient: horizontal;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-image: url("part-placeholder.svg");
}

/* resize to fit ul.collection to contain li elements without additional space */
/* li width steps with tolerance for .container padding and scroll bar */
@media (min-width: 120px) { #coursetable ul { width: 100px; } }
@media (min-width: 220px) { #coursetable ul { width: 200px; } }
@media (min-width: 320px) { #coursetable ul { width: 300px; } }
@media (min-width: 420px) { #coursetable ul { width: 400px; } }
@media (min-width: 520px) { #coursetable ul { width: 500px; } }
/* bootstrap width steps */
@media (min-width: 768px) { #coursetable ul { width: 700px; } }
@media (min-width: 992px) { #coursetable ul { width: 900px; } }
@media (min-width: 1200px) { #coursetable ul { width: 1100px; } }

ul.collection li {
  width: 100px;
  height: 100px;
  border: 1px solid white;
}
ul.collection li.collection {
  font-weight: bold;
}
ul.collection li * {
  padding: 4px;
  width: 100px;
  color: inherit !important;
  text-align: center;
  justify-content: center; /* align horizontal */
  -webkit-align-items: center;
  align-items: center; /* align vertical */
}

/* colors */

ul.collection li.empty {
  color: rgb(120,120,120);
}

ul.collection li.collection {
  background: rgb(192,192,192);
}
ul.collection.search li.part {
  background: rgb(161,196,131);
}
ul.collection.logics li.part {
  background: rgb(178,217,144);
}
ul.collection.mk li.part {
  background: rgb(206,222,191);
}
ul.collection.db li.part {
  background: rgb(142,202,245);
}
ul.collection.ml li.part {
  background: rgb(245,220,135);
}
ul.collection.ir li.part {
  background: rgb(255,231,77);
}
ul.collection.web li.part {
  background: rgb(162,155,224);
}
ul.collection.tools li.part {
  background: rgb(233,161,119);
}
ul.collection li:hover:not(.empty) {
  -webkit-filter: brightness(1.05);
  filter: brightness(1.05);
}

/* selection */

#coursetable.buw li:not(.buw),
#coursetable.upb li:not(.upb),
#coursetable.upa li:not(.upa),
#coursetable.ul li:not(.ul),
#coursetable.bachelor ul:not(.bachelor) li,
#coursetable.master ul:not(.master) li {
  background: rgb(210,210,210);
  color: rgb(120,120,120);
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

