---
layout: workshop 
nav_active: organization
title: Touché @ CLEF
description: Touché @ CLEF Argument Retrieval
shared_tasks: 2
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="https://webis.de/index.html">Webis.de</a></li>
<li><a href="https://webis.de/events.html">Events</a></li>
<li><a href="index.html">Touché 2021</a></li>
<li class="uk-disabled"><a href="#">Organization</a></li>
</ul>
</nav>

<script type="application/ld+json">
{
    "@context":"http://schema.org/",
    "@type":"Workshop",
    "name":"Touché @ CLEF",
    "description":"Touché @ CLEF Argument Retrieval",
    "url":"https://webis.de/events/touche-20/",
    "keywords":[
        "touché", 
        "argument retrieval", 
        "conversational argument retrieval", 
        "comparative argument retrieval"
    ], 
    "creator":[
        {
            "@type":"Organization",
            "url":"https://webis.de/",
            "name":"The Web Technology & Information Systems Group",
            "alternateName":"Webis"
        },
        {
            "@id":"ADD-ORC-ID",
            "@type":"Person", 
            "url":"https://www.informatik.uni-halle.de/arbeitsgruppen/big_data_analytics/mitarbeiter/bondarenko/?lang=en",
            "affiliation":"Martin-Luther-Universit\u00e4t Halle-Wittenberg", 
            "name":"Bondarenko, Alexander"
        },
        {
            "@id":"0000-0002-9733-2890", 
            "@type":"Person", 
            "url":"https://halle.webis.de/",
            "affiliation":"Martin-Luther-Universit\u00e4t Halle-Wittenberg", 
            "name":"Hagen, Matthias"
        },
        {
            "@id":"0000-0002-1003-981X", 
            "@type":"Person", 
            "url":"https://www.informatik.uni-halle.de/arbeitsgruppen/big_data_analytics/mitarbeiter/froebe/",
            "affiliation":"Martin-Luther-Universit\u00e4t Halle-Wittenberg", 
            "name":"Fr\u00f6be, Maik"
        },
        {
            "@id":"0000-0003-2451-0665", 
            "@type":"Person", 
            "url":"https://www.uni-weimar.de/en/media/chairs/computer-science-department/webis/people/#potthast",
            "affiliation":"Bauhaus-Universit\u00e4t Weimar", 
            "name":"Potthast, Martin"
        }
    ],
    "includedInDataCatalog":{
    },
    "distribution":[
    ]
}
</script>

<main class="uk-section uk-section-default">
    <div class="uk-container">
        <h1>Organization</h1>

        <ul class="uk-list">
            <!-- Comment out sections you do not provide -->
            <li><span data-uk-icon="chevron-down"></span> <a href="#contact">Contact and Communication</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#participation-guide">Participation HowTo</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#resources">Resources</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#subission-terms">Submission Terms</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#organizing-committee">Organizing Committee</a></li>
            <!--<li><span data-uk-icon="chevron-down"></span> <a href="#program-committee">Program Committee</a></li>-->
        </ul>
    </div>

    <div class="uk-container uk-margin-medium">
        <!--
        SECTION Contact and Communication
        -->
        <h2 id="contact">Contact and Communication</h2>
            <ul>
                <li>Mailing list organizers: <a href="mailto:touche@webis.de">touche@webis.de</a></li>
                <li>Twitter: <a href="https://twitter.com/webis_de">@webis_de</a></li>
            </ul>
            
        <!--
        SECTION Participation HowTo
        -->
        <h2><a id="participation-guide"></a>Participation HowTo</h2>
            <p>Shared task participation:</p>
            <ol>
                <li>Registration and data download: [<a href="http://clef2021-labs-registration.dei.unipd.it/">registration</a>] [<a href="{{ '/events/touche-21/shared-task-1.html#data' | relative_url }}">Task 1 data</a>] [<a href="{{ '/events/touche-21/shared-task-2.html#data' | relative_url }}">Task 2 data</a>]</li>
                <li>Research and development at your site.</li>
                <li>Evaluation on TIRA: [<a href="https://webis.de/publications.html#filter:TIRA%20Integrated%20Research%20Architecture">guide</a>] [<a href="{{ '/events/touche-21/shared-task-1.html#tira-quickstart' | relative_url }}">Task 1 QuickStart</a>] [<a href="{{ '/events/touche-21/shared-task-2.html##tira-quickstart' | relative_url }}">Task 2 QuickStart</a>] </li>
                <li>Publication of results: [<a href="touche-paper-template.zip">template</a>] </li>
            </ol>
            <p>Other participation options (contact us):</p>
            <ul>
                <li>Submit new data.</li>
                <li>Submit new performance measure.</li>
                <li>Organize a shared task.</li>
                <li>Organize an event.</li>
            </ul>
            
        <!--
        SECTION Resources
        -->    
        <h2><a id="resources"></a>Resources</h2>
            <ul>
                <li><a href="https://www.tira.io/">TIRA</a>: for software submission.</li>
                <li><a href="https://www.youtube.com/playlist?list=PLgD1TOdHQCI90NnCLg9f4g32KLuOfPXR4">Videos</a>: of talks held at the workshop.
            </ul>
        <!--
        SECTION Submission Terms
        -->
        <h2><a id="subission-terms"></a>Submission Terms</h2>
            <ul>
                <li>Authors retain copyright of their software and data.</li>
                <li>Authors provide usage rights to Touché and TIRA for the purpose of publication and evaluation.</li>
                <li>Authors may revoke usage rights at any time.</li>
                <li>Use of TIRA is at the author's risk.</li>
                <li>The choice of license rests with the authors.</li>
                <li>When using a third party resource, cite its authors.</li>
            </ul>

        <!--
        SECTION Organizing Committee
        -->
        <!-- Use _includes/templates/people-card.html as a template for these cards. They do not need to be parametrized, this is just a demonstration. -->
        <h2 id="organizing-committee">Organizing Committee</h2>
        <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
            {% include people-cards/bondarenko.html gender="male" %}
            {% include people-cards/hagen.html gender="male" %}
            {% include people-cards/froebe.html gender="male" %}
            {% include people-cards/potthast.html gender="male" %}
	    {% include people-cards/gienapp.html gender="male" %}
            {% include people-cards/wachsmuth.html gender="male" %}
            {% include people-cards/beloucif.html gender="female" %}
            {% include people-cards/biemann.html gender="male" %}
            {% include people-cards/panchenko.html gender="male" %}
	    {% include people-cards/ajjour.html gender="male" %}
	    {% include people-cards/stein.html gender="male" %}
        </div>

    <div class="uk-padding-large"></div>

	  <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid uk-flex-center">
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <a href="http://clef2021.clef-initiative.eu/" target="_blank" class="uk-link-reset">
                        <div class="thumbnail-fill">
                            <img src="{{ '/img/organizations/logo-clef21.png' | relative_url }}" alt="CLEF Thessaloniki 2020 logo">
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <a href="http://www.clef-initiative.eu/" target="_blank" class="uk-link-reset">
                        <div class="thumbnail-fill">
                            <img src="{{ '/img/organizations/logo-clef2.png' | relative_url }}" alt="CLEF logo">
                        </div>
                    </a>
                </div>
            </div>
	  </div>

  </div>
</main>
