{% raw %}

                <ul class="bachelor ads lecturenotes-collection">
                    <li class=" lecturenotes-collection"><a
                            href="/lecturenotes.html#algorithms-and-datastructures">Algorithmen und Datenstrukturen</a>
                    </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes.html#part-algorithms-and-datastructures-intro">Einführung</a>
                        </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes.html#part-algorithm-engineering">Algorithm Engineering</a>
                        </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes.html#part-sorting">Sortieren</a>
                        </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes.html#part-datastructures">Datenstrukturen</a>
                        </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes.html#part-searching">Suchen</a>
                        </li>
                        <li class="leipzig part empty">
                            <a href="/lecturenotes.html#part-graph-algorithms">Graphalgorithmen</a>
                        </li>
                        <li class="leipzig part empty">
                            <a href="/lecturenotes.html#part-ads-applications">ADS Anwendungen</a>
                        </li>
                </ul>
{% endraw %}