
                <tr class="bachelor ads">
                    <td class="lecturenotes-collection">
                        <div class="leipzig"><a
                                href="/lecturenotes.html#algorithms-and-datastructures">Algorithmen und Daten&shy;strukturen</a>
                        </div>
                    </td>
                    <td class="lecturenotes-part">
                            <div class="leipzig part" style="background: #68B4C2;">
                                <a href="/lecturenotes.html#part-algorithms-and-datastructures-intro">Einführung</a>
                            </div>
                            <div class="leipzig part" style="background: #68B4C2;">
                                <a href="/lecturenotes.html#part-algorithm-engineering">Algorithm Engineering</a>
                            </div>
                            <div class="leipzig part" style="background: #68B4C2;">
                                <a href="/lecturenotes.html#part-sorting">Sortieren</a>
                            </div>
                            <div class="leipzig part" style="background: #68B4C2;">
                                <a href="/lecturenotes.html#part-datastructures">Datenstrukturen</a>
                            </div>
                            <div class="leipzig part" style="background: #68B4C2;">
                                <a href="/lecturenotes.html#part-searching">Suchen</a>
                            </div>
                            <div class="leipzig part empty" style="background: #68B4C2;">
                                <a href="/lecturenotes.html#part-graph-algorithms">Graph&shy;algorithmen</a>
                            </div>
                    </td>
                </tr>
                <tr class="bachelor db">
                    <td class="lecturenotes-collection">
                        <div class="weimar"><a
                                href="/lecturenotes.html#databases">Datenbanken</a>
                        </div>
                    </td>
                    <td class="lecturenotes-part">
                            <div class="weimar part" style="background: #90D7DE;">
                                <a href="/lecturenotes.html#part-databases-intro">Einführung</a>
                            </div>
                            <div class="weimar part" style="background: #90D7DE;">
                                <a href="/lecturenotes.html#part-conceptual-design">Konzeptueller Datenbank&shy;entwurf</a>
                            </div>
                            <div class="weimar part" style="background: #90D7DE;">
                                <a href="/lecturenotes.html#part-relational-design">Logischer Datenbank&shy;entwurf</a>
                            </div>
                            <div class="weimar part" style="background: #90D7DE;">
                                <a href="/lecturenotes.html#part-relational-calculus">Grundlagen relationaler Anfragesprachen</a>
                            </div>
                            <div class="weimar part" style="background: #90D7DE;">
                                <a href="/lecturenotes.html#part-sql">SQL</a>
                            </div>
                            <div class="weimar part" style="background: #90D7DE;">
                                <a href="/lecturenotes.html#part-relational-theory">Entwurfstheorie relationaler Datenbanken</a>
                            </div>
                            <div class="weimar part empty" style="background: #90D7DE;">
                                <a href="/lecturenotes.html#part-physical-design">Physischer Datenbank&shy;entwurf</a>
                            </div>
                    </td>
                </tr>
                <tr class="bachelor wt">
                    <td class="lecturenotes-collection">
                        <div class="weimar"><a
                                href="/lecturenotes.html#web-technology">Web-Technologie</a>
                        </div>
                    </td>
                    <td class="lecturenotes-part">
                            <div class="weimar part" style="background: #D3F8F7;">
                                <a href="/lecturenotes.html#part-web-technology-intro">Einführung</a>
                            </div>
                            <div class="weimar part" style="background: #D3F8F7;">
                                <a href="/lecturenotes.html#part-network-protocol">Kommunikation und Protokolle</a>
                            </div>
                            <div class="weimar part" style="background: #D3F8F7;">
                                <a href="/lecturenotes.html#part-document-languages">Dokument&shy;sprachen</a>
                            </div>
                            <div class="weimar part" style="background: #D3F8F7;">
                                <a href="/lecturenotes.html#part-server-technologies">Server-Technologien</a>
                            </div>
                            <div class="weimar part" style="background: #D3F8F7;">
                                <a href="/lecturenotes.html#part-client-technologies">Client-Technologien</a>
                            </div>
                            <div class="weimar part" style="background: #D3F8F7;">
                                <a href="/lecturenotes.html#part-webis-architectures">Architekturen und Middleware</a>
                            </div>
                            <div class="weimar part" style="background: #D3F8F7;">
                                <a href="/lecturenotes.html#part-semantic-web">Semantic Web</a>
                            </div>
                    </td>
                </tr>
                <tr class="master ir">
                    <td class="lecturenotes-collection">
                        <div class="leipzig jena"><a
                                href="/lecturenotes.html#information-retrieval">Information Retrieval</a>
                        </div>
                    </td>
                    <td class="lecturenotes-part">
                            <div class="leipzig jena part" style="background: #BB86F3;">
                                <a href="/lecturenotes.html#part-information-retrieval-intro">Introduction</a>
                            </div>
                            <div class="leipzig jena part" style="background: #BB86F3;">
                                <a href="/lecturenotes.html#part-indexing">Indexing</a>
                            </div>
                            <div class="leipzig jena part" style="background: #BB86F3;">
                                <a href="/lecturenotes.html#part-retrieval-models">Retrieval Models</a>
                            </div>
                            <div class="leipzig jena part" style="background: #BB86F3;">
                                <a href="/lecturenotes.html#part-user-interface">User Interface</a>
                            </div>
                            <div class="leipzig jena part" style="background: #BB86F3;">
                                <a href="/lecturenotes.html#part-evaluation">Evaluation</a>
                            </div>
                            <div class="leipzig jena part" style="background: #BB86F3;">
                                <a href="/lecturenotes.html#part-ir-applications">IR Applications</a>
                            </div>
                    </td>
                </tr>
                <tr class="master nlp">
                    <td class="lecturenotes-collection">
                        <div class="weimar"><a
                                href="/lecturenotes.html#natural-language-processing">Natural Language Processing</a>
                        </div>
                    </td>
                    <td class="lecturenotes-part">
                            <div class="weimar part" style="background: #D6ACFA;">
                                <a href="/lecturenotes.html#part-natural-language-processing-intro">Introduction</a>
                            </div>
                            <div class="weimar part" style="background: #D6ACFA;">
                                <a href="/lecturenotes.html#part-corpus-linguistics">Corpus Linguistics</a>
                            </div>
                            <div class="weimar part" style="background: #D6ACFA;">
                                <a href="/lecturenotes.html#part-text-models">Text Models</a>
                            </div>
                            <div class="weimar part" style="background: #D6ACFA;">
                                <a href="/lecturenotes.html#part-language-models">Language Models</a>
                            </div>
                            <div class="weimar part" style="background: #D6ACFA;">
                                <a href="/lecturenotes.html#part-words">Words</a>
                            </div>
                            <div class="weimar part" style="background: #D6ACFA;">
                                <a href="/lecturenotes.html#part-syntax">Syntax</a>
                            </div>
                            <div class="weimar part" style="background: #D6ACFA;">
                                <a href="/lecturenotes.html#part-semantics">Semantics</a>
                            </div>
                            <div class="weimar part empty" style="background: #D6ACFA;">
                                <a href="/lecturenotes.html#part-discourse">Discourse</a>
                            </div>
                            <div class="weimar part empty" style="background: #D6ACFA;">
                                <a href="/lecturenotes.html#part-bias-and-fairness">Bias and Fairness</a>
                            </div>
                            <div class="weimar part empty" style="background: #D6ACFA;">
                                <a href="/lecturenotes.html#part-nlp-applications">NLP Applications</a>
                            </div>
                    </td>
                </tr>
                <tr class="bachelor pts">
                    <td class="lecturenotes-collection">
                        <div class=""><a
                                href="/lecturenotes.html#probability-theory-and-statistics">Wahrscheinlich&shy;keitstheorie und Statistik</a>
                        </div>
                    </td>
                    <td class="lecturenotes-part">
                            <div class=" part" style="background: #E8A01D;">
                                <a href="/lecturenotes.html#part-probability-theory-statistics-intro">Einführung</a>
                            </div>
                            <div class=" part" style="background: #E8A01D;">
                                <a href="/lecturenotes.html#part-probability">Wahrscheinlich&shy;keitsbegriff</a>
                            </div>
                            <div class=" part" style="background: #E8A01D;">
                                <a href="/lecturenotes.html#part-combinatorics">Kombinatorik</a>
                            </div>
                            <div class=" part" style="background: #E8A01D;">
                                <a href="/lecturenotes.html#part-conditional-probability">Bedingte Wahrschein&shy;lichkeit</a>
                            </div>
                            <div class=" part" style="background: #E8A01D;">
                                <a href="/lecturenotes.html#part-random-variables">Zufallsgrößen und Maßzahlen</a>
                            </div>
                            <div class=" part" style="background: #E8A01D;">
                                <a href="/lecturenotes.html#part-binomial-distribution">Die Binomial&shy;verteilung</a>
                            </div>
                            <div class=" part" style="background: #E8A01D;">
                                <a href="/lecturenotes.html#part-law-of-large-numbers">Das Gesetz der großen Zahlen</a>
                            </div>
                            <div class=" part empty" style="background: #E8A01D;">
                                <a href="/lecturenotes.html#part-normal-distribution">Die Normalverteilung</a>
                            </div>
                            <div class=" part empty" style="background: #E8A01D;">
                                <a href="/lecturenotes.html#part-hypothesis-testing">Hypothesentests</a>
                            </div>
                    </td>
                </tr>
                <tr class="master ml">
                    <td class="lecturenotes-collection">
                        <div class="hannover, leipzig, passau, weimar"><a
                                href="/lecturenotes.html#machine-learning">Machine Learning</a>
                        </div>
                    </td>
                    <td class="lecturenotes-part">
                            <div class="hannover, leipzig, passau, weimar part" style="background: #FFC640;">
                                <a href="/lecturenotes.html#part-machine-learning-intro">Introduction</a>
                            </div>
                            <div class="hannover, leipzig, passau, weimar part" style="background: #FFC640;">
                                <a href="/lecturenotes.html#part-machine-learning-basics">Machine Learning Basics</a>
                            </div>
                            <div class="hannover, leipzig, passau, weimar part" style="background: #FFC640;">
                                <a href="/lecturenotes.html#part-linear-models">Linear Models</a>
                            </div>
                            <div class="hannover, leipzig, passau, weimar part" style="background: #FFC640;">
                                <a href="/lecturenotes.html#part-neural-networks">Neural Networks</a>
                            </div>
                            <div class=" part empty" style="background: #FFC640;">
                                <a href="/lecturenotes.html#part-support-vector-machines">Support Vector Machines</a>
                            </div>
                            <div class="hannover, leipzig, passau, weimar part" style="background: #FFC640;">
                                <a href="/lecturenotes.html#part-decision-trees">Decision Trees</a>
                            </div>
                            <div class="hannover, leipzig, passau, weimar part" style="background: #FFC640;">
                                <a href="/lecturenotes.html#part-bayesian-learning">Bayesian Learning</a>
                            </div>
                            <div class=" part empty" style="background: #FFC640;">
                                <a href="/lecturenotes.html#part-learning-theory">Learning Theory</a>
                            </div>
                            <div class=" part" style="background: #FFC640;">
                                <a href="/lecturenotes.html#part-deep-learning">Deep Learning</a>
                            </div>
                            <div class=" part" style="background: #FFC640;">
                                <a href="/lecturenotes.html#part-ensemble-and-meta">Ensemble Methods and Meta Learning</a>
                            </div>
                            <div class=" part empty" style="background: #FFC640;">
                                <a href="/lecturenotes.html#part-reinforcement-learning">Reinforcement Learning</a>
                            </div>
                    </td>
                </tr>
                <tr class="master dm">
                    <td class="lecturenotes-collection">
                        <div class="leipzig, weimar"><a
                                href="/lecturenotes.html#data-mining">Data Mining</a>
                        </div>
                    </td>
                    <td class="lecturenotes-part">
                            <div class="leipzig, weimar part" style="background: #FFD87D;">
                                <a href="/lecturenotes.html#part-data-mining-intro">Introduction</a>
                            </div>
                            <div class="leipzig, weimar part" style="background: #FFD87D;">
                                <a href="/lecturenotes.html#part-cluster-analysis">Cluster Analysis</a>
                            </div>
                            <div class="leipzig, weimar part" style="background: #FFD87D;">
                                <a href="/lecturenotes.html#part-nearest-neighbor-strategies">Nearest Neighbor Strategies</a>
                            </div>
                            <div class="leipzig, weimar part empty" style="background: #FFD87D;">
                                <a href="/lecturenotes.html#part-latent-variables-analysis">Latent Variables Analysis</a>
                            </div>
                            <div class="leipzig, weimar part" style="background: #FFD87D;">
                                <a href="/lecturenotes.html#part-association-analysis">Association Analysis</a>
                            </div>
                    </td>
                </tr>
                <tr class="master s">
                    <td class="lecturenotes-collection">
                        <div class="weimar, paderborn, jena"><a
                                href="/lecturenotes.html#search">Search Algorithms</a>
                        </div>
                    </td>
                    <td class="lecturenotes-part">
                            <div class="weimar, paderborn, jena part" style="background: #62BA61;">
                                <a href="/lecturenotes.html#part-search-intro">Introduction</a>
                            </div>
                            <div class="weimar, paderborn, jena part" style="background: #62BA61;">
                                <a href="/lecturenotes.html#part-basic-search">Basic Search Algorithms</a>
                            </div>
                            <div class="weimar, paderborn, jena part" style="background: #62BA61;">
                                <a href="/lecturenotes.html#part-informed-search">Informed Search</a>
                            </div>
                            <div class="weimar, paderborn, jena part" style="background: #62BA61;">
                                <a href="/lecturenotes.html#part-search-representation">Search Space Representation</a>
                            </div>
                            <div class="weimar, paderborn, jena part" style="background: #62BA61;">
                                <a href="/lecturenotes.html#part-search-theory">Search Theory</a>
                            </div>
                            <div class="weimar, paderborn, jena part" style="background: #62BA61;">
                                <a href="/lecturenotes.html#part-relaxed-models">Relaxed Models</a>
                            </div>
                            <div class="weimar, paderborn, jena part" style="background: #62BA61;">
                                <a href="/lecturenotes.html#part-game-playing">Game Playing</a>
                            </div>
                    </td>
                </tr>
                <tr class="master l">
                    <td class="lecturenotes-collection">
                        <div class="paderborn"><a
                                href="/lecturenotes.html#logics">Logik</a>
                        </div>
                    </td>
                    <td class="lecturenotes-part">
                            <div class="paderborn part" style="background: #9ED977;">
                                <a href="/lecturenotes.html#part-logics-intro">Einführung</a>
                            </div>
                            <div class="paderborn part" style="background: #9ED977;">
                                <a href="/lecturenotes.html#part-propositional-logics">Aussagenlogik</a>
                            </div>
                            <div class="paderborn part" style="background: #9ED977;">
                                <a href="/lecturenotes.html#part-predicate-logics">Prädikatenlogik</a>
                            </div>
                            <div class="paderborn part" style="background: #9ED977;">
                                <a href="/lecturenotes.html#part-nonclassical-logics">Nichtklassische Logiken</a>
                            </div>
                            <div class="paderborn part" style="background: #9ED977;">
                                <a href="/lecturenotes.html#part-logics-extensions">Erweiterungen und Anwendungen</a>
                            </div>
                    </td>
                </tr>
                <tr class="master mk">
                    <td class="lecturenotes-collection">
                        <div class="paderborn"><a
                                href="/lecturenotes.html#modeling-kbs">Modellierung wissensinten. Probleme</a>
                        </div>
                    </td>
                    <td class="lecturenotes-part">
                            <div class="paderborn part" style="background: #E6F8B8;">
                                <a href="/lecturenotes.html#part-modeling-kbs-intro">Einführung</a>
                            </div>
                            <div class="paderborn part" style="background: #E6F8B8;">
                                <a href="/lecturenotes.html#part-knowledge-representation">Wissens&shy;repräsentation</a>
                            </div>
                            <div class="paderborn part" style="background: #E6F8B8;">
                                <a href="/lecturenotes.html#part-modeling-kbs-basics">Begriffe der Modellierung</a>
                            </div>
                            <div class="paderborn part" style="background: #E6F8B8;">
                                <a href="/lecturenotes.html#part-constraints">Modellieren mit Constraints</a>
                            </div>
                            <div class="paderborn part" style="background: #E6F8B8;">
                                <a href="/lecturenotes.html#part-diagnosis">Diagnoseansätze</a>
                            </div>
                            <div class="paderborn part" style="background: #E6F8B8;">
                                <a href="/lecturenotes.html#part-configuration">Planning and Configuration</a>
                            </div>
                    </td>
                </tr>
                <tr class=" t">
                    <td class="lecturenotes-collection">
                        <div class=""><a
                                href="/lecturenotes.html#languages-tools">Languages and Tools</a>
                        </div>
                    </td>
                    <td class="lecturenotes-part">
                            <div class=" part empty" style="background: #FF6F52;">
                                <a href="/lecturenotes.html#part-lisp">LISP</a>
                            </div>
                            <div class=" part empty" style="background: #FF6F52;">
                                <a href="/lecturenotes.html#part-knowledge-representation-tools">Knowledge Representation Tools</a>
                            </div>
                            <div class=" part" style="background: #FF6F52;">
                                <a href="/lecturenotes.html#part-processing-stack">Data Processing Stack</a>
                            </div>
                    </td>
                </tr>
                <tr class=" g">
                    <td class="lecturenotes-collection">
                        <div class=""><a
                                href="/lecturenotes.html#lecturenotes-generic">Lecturenotes Generic</a>
                        </div>
                    </td>
                    <td class="lecturenotes-part">
                            <div class=" part" style="background: #FFAB9E;">
                                <a href="/lecturenotes.html#part-scientific-toolbox">Scientific Toolbox</a>
                            </div>
                            <div class=" part" style="background: #FFAB9E;">
                                <a href="/lecturenotes.html#part-styleguide">Style Guide</a>
                            </div>
                    </td>
                </tr>