
                <ul class="bachelor ads lecturenotes-collection">
                    <li class=" lecturenotes-collection"><a
                            href="/lecturenotes-new.html#algorithms-and-datastructures">Algorithmen und Datenstrukturen</a>
                    </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes-new.html#part-algorithms-and-datastructures-intro">Einführung</a>
                        </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes-new.html#part-algorithm-engineering">Algorithm Engineering</a>
                        </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes-new.html#part-sorting">Sortieren</a>
                        </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes-new.html#part-datastructures">Datenstrukturen</a>
                        </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes-new.html#part-searching">Suchen</a>
                        </li>
                        <li class="leipzig part empty">
                            <a href="/lecturenotes-new.html#part-graph-algorithms">Graphalgorithmen</a>
                        </li>
                        <li class="leipzig part empty">
                            <a href="/lecturenotes-new.html#part-ads-applications">ADS Anwendungen</a>
                        </li>
                </ul>
                <ul class="master dm lecturenotes-collection">
                    <li class=" lecturenotes-collection"><a
                            href="/lecturenotes-new.html#data-mining">Data Mining</a>
                    </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes-new.html#part-introduction">Introduction</a>
                        </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes-new.html#part-cluster-analysis">Cluster Analysis</a>
                        </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes-new.html#part-nearest-neighbor-strategies">Nearest Neighbor Strategies</a>
                        </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes-new.html#part-latent-variables-analysis">Latent Variables Analysis</a>
                        </li>
                        <li class="leipzig part">
                            <a href="/lecturenotes-new.html#part-association-analysis">Association Aanalysis</a>
                        </li>
                </ul>