        <ul class="uk-list">
            
            <li>
                <span data-uk-icon="chevron-down"></span> <a href="#algorithms-and-datastructures">Algorithmen und Datenstrukturen</a>
            </li>
            
            <li>
                <span data-uk-icon="chevron-down"></span> <a href="#data-mining">Data Mining</a>
            </li>
            
        </ul>


        <div class="uk-container uk-margin-medium">
            <div id="search-control">
                <input type="text" class="uk-input" id="filter-field" placeholder="Type here to filter&hellip;"/>
            </div>
        </div>
        <table class="uk-margin-medium uk-table uk-table-divider uk-table-small targetable">
            <thead>
            <tr>
                <th id="algorithms-and-datastructures"></th>
                <th colspan="3">
                    Collection. Algorithmen und Datenstrukturen
                    <a href="#" class="uk-float-right uk-link-reset" data-uk-icon="chevron-up"></a>
                </th>
            </tr>
            </thead>
            <tbody>
                    <tr>
                        <th id="part-algorithms-and-datastructures-intro"></th>
                        <th colspan="3">Part. Einführung</th>
                    </tr>
                    <tr>
                        <td id="unit-de-ads-organization"></td>
                        <td>Unit. Organisation, Literatur</td>
                        <td class="date">{{ site.data.slidedates.unit-de-ads-organization }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-ads-organization.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-ads-organization.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-de-ads-introduction"></td>
                        <td>Unit. Problemstellungen, Begriffe</td>
                        <td class="date">{{ site.data.slidedates.unit-de-ads-introduction }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-ads-introduction.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-ads-introduction.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                
                    <tr>
                        <th id="part-algorithm-engineering"></th>
                        <th colspan="3">Part. Algorithm Engineering</th>
                    </tr>
                    <tr>
                        <td id="unit-de-problem-solving"></td>
                        <td>Unit. Problemlösen</td>
                        <td class="date">{{ site.data.slidedates.unit-de-problem-solving }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-problem-solving.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-problem-solving.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-de-algorithm-design"></td>
                        <td>Unit. Algorithmendesign</td>
                        <td class="date">{{ site.data.slidedates.unit-de-algorithm-design }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-algorithm-design.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-algorithm-design.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-de-algorithm-analysis"></td>
                        <td>Unit. Algorithmenanalyse</td>
                        <td class="date">{{ site.data.slidedates.unit-de-algorithm-analysis }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-algorithm-analysis.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-algorithm-analysis.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-de-algorithm-implementation"></td>
                        <td>Unit. Algorithmenimplementierung</td>
                    </tr>
                    
                    <tr>
                        <td id="unit-de-algorithm-evaluation"></td>
                        <td>Unit. Algorithmenevaluierung</td>
                    </tr>
                    
                
                    <tr>
                        <th id="part-sorting"></th>
                        <th colspan="3">Part. Sortieren</th>
                    </tr>
                    <tr>
                        <td id="unit-de-sorting-algorithms"></td>
                        <td>Unit. Sortieralgorithmen</td>
                        <td class="date">{{ site.data.slidedates.unit-de-sorting-algorithms }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-sorting-algorithms.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-sorting-algorithms.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-de-internal-comparison-sorting1"></td>
                        <td>Unit. Internes Sortieren durch Vergleichen (1)</td>
                        <td class="date">{{ site.data.slidedates.unit-de-internal-comparison-sorting1 }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-internal-comparison-sorting1.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-internal-comparison-sorting1.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-de-internal-comparison-sorting2"></td>
                        <td>Unit. Internes Sortieren durch Vergleichen (2)</td>
                        <td class="date">{{ site.data.slidedates.unit-de-internal-comparison-sorting2 }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-internal-comparison-sorting2.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-internal-comparison-sorting2.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-de-internal-distribution-sorting"></td>
                        <td>Unit. Internes Sortieren durch Verteilen</td>
                        <td class="date">{{ site.data.slidedates.unit-de-internal-distribution-sorting }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-internal-distribution-sorting.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-internal-distribution-sorting.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-de-external-sorting"></td>
                        <td>Unit. Externes Sortieren</td>
                    </tr>
                    
                    <tr>
                        <td id="unit-de-sorting-theory"></td>
                        <td>Unit. Sortiertheorie</td>
                        <td class="date">{{ site.data.slidedates.unit-de-sorting-theory }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-sorting-theory.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-sorting-theory.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                
                    <tr>
                        <th id="part-datastructures"></th>
                        <th colspan="3">Part. Datenstrukturen</th>
                    </tr>
                    <tr>
                        <td id="unit-de-basics"></td>
                        <td>Unit. Records und Container</td>
                        <td class="date">{{ site.data.slidedates.unit-de-basics }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-basics.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-basics.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-de-lists"></td>
                        <td>Unit. Listen</td>
                        <td class="date">{{ site.data.slidedates.unit-de-lists }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-lists.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-lists.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-de-hash-tables"></td>
                        <td>Unit. Dictionaries und Hash Tables</td>
                        <td class="date">{{ site.data.slidedates.unit-de-hash-tables }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-hash-tables.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-hash-tables.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-de-hash-functions"></td>
                        <td>Unit. Hash Functions</td>
                        <td class="date">{{ site.data.slidedates.unit-de-hash-functions }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-hash-functions.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-hash-functions.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-de-trees"></td>
                        <td>Unit. Bäume</td>
                        <td class="date">{{ site.data.slidedates.unit-de-trees }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-trees.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-trees.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                
                    <tr>
                        <th id="part-searching"></th>
                        <th colspan="3">Part. Suchen</th>
                    </tr>
                    <tr>
                        <td id="unit-de-searching"></td>
                        <td>Unit. Suchbäume</td>
                        <td class="date">{{ site.data.slidedates.unit-de-searching }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-searching.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-searching.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-de-external-search-trees"></td>
                        <td>Unit. Externe Suchbäume</td>
                        <td class="date">{{ site.data.slidedates.unit-de-external-search-trees }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/algorithms-and-datastructures/unit-de-external-search-trees.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/algorithms-and-datastructures.html#unit-de-external-search-trees.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                
                    <tr>
                        <th id="part-graph-algorithms"></th>
                        <th colspan="3">Part. Graphalgorithmen</th>
                    </tr>
                
                    <tr>
                        <th id="part-ads-applications"></th>
                        <th colspan="3">Part. ADS Anwendungen</th>
                    </tr>
                
            </tbody>
        </table>
        
        <table class="uk-margin-medium uk-table uk-table-divider uk-table-small targetable">
            <thead>
            <tr>
                <th id="data-mining"></th>
                <th colspan="3">
                    Collection. Data Mining
                    <a href="#" class="uk-float-right uk-link-reset" data-uk-icon="chevron-up"></a>
                </th>
            </tr>
            </thead>
            <tbody>
                    <tr>
                        <th id="part-introduction"></th>
                        <th colspan="3">Part. Introduction</th>
                    </tr>
                    <tr>
                        <td id="unit-en-organization"></td>
                        <td>Unit. Organization, Literature</td>
                        <td class="date">{{ site.data.slidedates.unit-en-organization }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-organization.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-organization.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-en-overview"></td>
                        <td>Unit. Data Mining Overview</td>
                        <td class="date">{{ site.data.slidedates.unit-en-overview }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-overview.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-overview.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-en-on-data"></td>
                        <td>Unit. On Data</td>
                        <td class="date">{{ site.data.slidedates.unit-en-on-data }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-on-data.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-on-data.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                
                    <tr>
                        <th id="part-cluster-analysis"></th>
                        <th colspan="3">Part. Cluster Analysis</th>
                    </tr>
                    <tr>
                        <td id="unit-en-cluster-analysis-basics"></td>
                        <td>Unit. Cluster Analysis Basics</td>
                        <td class="date">{{ site.data.slidedates.unit-en-cluster-analysis-basics }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-cluster-analysis-basics.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-cluster-analysis-basics.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-en-hierarchical-cluster-analysis"></td>
                        <td>Unit. Hierarchical Cluster Analysis</td>
                        <td class="date">{{ site.data.slidedates.unit-en-hierarchical-cluster-analysis }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-hierarchical-cluster-analysis.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-hierarchical-cluster-analysis.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-en-iterative-cluster-analysis"></td>
                        <td>Unit. Iterative Cluster Analysis</td>
                        <td class="date">{{ site.data.slidedates.unit-en-iterative-cluster-analysis }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-iterative-cluster-analysis.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-iterative-cluster-analysis.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-en-density-based-cluster-analysis"></td>
                        <td>Unit. Density-Based Cluster Analysis</td>
                        <td class="date">{{ site.data.slidedates.unit-en-density-based-cluster-analysis }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-density-based-cluster-analysis.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-density-based-cluster-analysis.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-en-cluster-evaluation"></td>
                        <td>Unit. Cluster Evaluation</td>
                        <td class="date">{{ site.data.slidedates.unit-en-cluster-evaluation }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-cluster-evaluation.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-cluster-evaluation.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-en-constrained-cluster-analysis"></td>
                        <td>Unit. Constrained Cluster Analysis</td>
                        <td class="date">{{ site.data.slidedates.unit-en-constrained-cluster-analysis }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-constrained-cluster-analysis.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-constrained-cluster-analysis.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                
                    <tr>
                        <th id="part-nearest-neighbor-strategies"></th>
                        <th colspan="3">Part. Nearest Neighbor Strategies</th>
                    </tr>
                    <tr>
                        <td id="unit-en-nearest-neighbor-strategies"></td>
                        <td>Unit. Self-Organizing Maps</td>
                        <td class="date">{{ site.data.slidedates.unit-en-nearest-neighbor-strategies }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-nearest-neighbor-strategies.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-nearest-neighbor-strategies.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                
                    <tr>
                        <th id="part-latent-variables-analysis"></th>
                        <th colspan="3">Part. Latent Variables Analysis</th>
                    </tr>
                    <tr>
                        <td id="unit-en-latent-variables-analysis"></td>
                        <td>Unit. Principal Component Analysis</td>
                        <td class="date">{{ site.data.slidedates.unit-en-latent-variables-analysis }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-latent-variables-analysis.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-latent-variables-analysis.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-en-multi-dimensional-scaling"></td>
                        <td>Unit. Multi-Dimensional Scaling</td>
                        <td class="date">{{ site.data.slidedates.unit-en-multi-dimensional-scaling }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-multi-dimensional-scaling.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-multi-dimensional-scaling.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-en-expectation-maximization"></td>
                        <td>Unit. Expectation Maximization</td>
                        <td class="date">{{ site.data.slidedates.unit-en-expectation-maximization }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-expectation-maximization.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-expectation-maximization.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                
                    <tr>
                        <th id="part-association-analysis"></th>
                        <th colspan="3">Part. Association Aanalysis</th>
                    </tr>
                    <tr>
                        <td id="unit-en-frequent-itemset-mining"></td>
                        <td>Unit. Frequent Itemset Mining</td>
                        <td class="date">{{ site.data.slidedates.unit-en-frequent-itemset-mining }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-frequent-itemset-mining.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-frequent-itemset-mining.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td id="unit-en-rule-mining"></td>
                        <td>Unit. Rule Mining</td>
                        <td class="date">{{ site.data.slidedates.unit-en-rule-mining }}</td>
                        <td class="links">
                            <a href="https://webis.de/downloads/lecturenotes/data-mining/unit-en-rule-mining.pdf">
                                <span class="pdf-icon" title="PDF"></span>
                            </a>
                            <a href="lecturenotes/browser/data-mining.html#unit-en-rule-mining.pdf">
                                <span class="browser-icon" title="Browser"></span>
                            </a>
                        </td>
                        
                    </tr>
                    
                
            </tbody>
        </table>
        