:root {
  /*
  * Used to create uniform visual space. Smaller/bigger values should be
  * created using `calc`:
  *
  * padding: calc( var(--spacing) / 2 );
  */
  --spacing: 12px;

  /*
  * Hierarchy of z-index values (i.e. planes). To elevate elements within
  * these planes, add arbitrary values small than 100 via `calc`:
  *
  * z-index: calc( var(--plane-document) + 10 );
  */
  --plane-document: 200;
  --plane-toolbox: 300;
  --plane-modal: 400;

  /*
  * Colors
  */
  --c-text: hsl(0, 0%, 15%);
  --c-text-disabled: hsl(0, 0%, 70%);
  --c-background: hsl(0, 0%, 100%);

  --c-focus: hsl(40, 80%, 50%);

  --c-accent: hsl(220, 60%, 41%);
  --c-accent-dark: hsl(220, 60%, 30%);

  --c-alt-light: hsl(0, 0%, 85%);
  --c-alt: hsl(0, 0%, 50%);
  --c-alt-dark: hsl(0, 0%, 20%);
}
/*
* Defaults
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
dd,
figure {
  margin: 0;
  padding: 0;
}

details,
summary,
main {
  display: block;
}

/*
* Basic appearance & typography
*/
html {
  overflow-y: scroll;
  font-size: 1em;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: var(--c-text);
  background-color: var(--c-background);
}

/* Set `margin-bottom` to maintain vertycal rhythm */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: 1.5rem;
}

:focus {
  outline: 2px solid var(--c-focus);
}

a:focus {
  outline-offset: 2px;
}

a {
  color: hsl(220, 50%, 40%);
  color: var(--c-accent);
  text-decoration: none;
}

a:visited {
  color: hsl(220, 50%, 30%);
  color: var(--c-accent-dark);
}

a:hover,
a:active {
  text-decoration: underline;
  /* Improve visibility for focused links */
  outline: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

/*
* Image
*/
img {
  max-width: 100%;
  border: 0;
}

img,
svg {
  vertical-align: middle;
}

img[src=''],
img[data-src] {
  /* Style alt text */
  text-align: center;
  font-style: italic;
}

/*
* Indicate that a lazy-loaded image is still loading.
* Note: [data-src] is used to store the src for lazy-loading
*/
img[data-src]::after {
  content: ' loading ...';
}

/*
* Figure
*/
figure > img {
  display: block;
}

figure > * {
  margin-bottom: 0;
}

/*
* Table
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

th,
td {
  padding: calc(var(--spacing) / 2);
}

th {
  font-weight: bold;
}

/*
* Code / user input
*/
pre,
code,
kbd,
samp {
  font-family: 'Fira Mono', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

kbd {
  padding: calc(var(--spacing) / 4) var(--spacing);
  border: 1px solid var(--c-alt-light);
  border-radius: 4px;
  box-shadow: 0 1px var(--c-alt-dark);
  text-transform: capitalize;
}

/*
* Utility
*/

/*
* as per: https://github.com/h5bp/html5-boilerplate
*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  width: auto;
  height: auto;
  margin: 0;
  white-space: inherit;
}
/*
* Resets
*/
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
  border: 0;
}

button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: visible;
  font: inherit;
  border: 0;
  padding: 0;
}

/*
* Basic Styling
*/
input,
button {
  color: #222;
  color: var(--c-text);
}

input:disabled,
button:disabled {
  color: hsl(0, 0%, 70%);
  color: var(--c-text-disabled);
}

input[type='submit'],
button {
  color: hsl(220, 50%, 40%);
  color: var(--c-accent);
  background-color: #fff;
  border: 2px solid;
  border-radius: 3px;
}

.form-group {
  padding: var(--spacing);
}

.form-label {
  max-width: 400px;
}

/*
* Button
*/
input[type='submit'],
button {
  padding: calc(var(--spacing) / 4) var(--spacing);
}

input[type='submit']:enabled:active,
button:enabled:active {
  color: #000;
}

input[type='submit']:disabled:focus,
button:disabled:focus {
  outline: 0;
}

.button--close {
  padding: calc(var(--spacing) / 2);
  border: 0;
}

.button--close,
.button--close:enabled:active {
  background-color: transparent;
}

/*
* Switch button
*/
.form-group--switch {
  display: flex;
  align-items: center;
}

.form-group--switch:not(:last-child) {
  border-bottom: 1px solid var(--c-alt-light);
}

.form-group--switch .form-label {
  flex: 1;
  margin-right: calc(4 * var(--spacing));
}

[aria-checked] {
  display: flex;
  color: #fff;

  --offset: 4px;
  position: relative;
  width: calc(var(--spacing) * 4.5);
  height: calc(var(--spacing) * 2 + var(--offset) * 2);
  padding: var(--offset);
  border: 0;
  border-radius: calc(var(--spacing) * 2 + var(--offset));
}

[aria-checked]:disabled {
  background-color: var(--c-alt);
}

[aria-checked='true']:enabled {
  background-color: hsl(220, 50%, 40%);
  background-color: var(--c-accent);
}

[aria-checked='false']:enabled {
  background-color: hsl(0, 0%, 50%);
  background-color: var(--c-alt);
}

[aria-checked] .state {
  position: absolute;
  top: var(--offset);
  width: calc(var(--spacing) * 2);
  height: calc(var(--spacing) * 2);
  line-height: calc(var(--spacing) * 2);
  color: var(--c-text);
  border-radius: var(--spacing);
}

[aria-checked] .state--true {
  left: var(--offset);
}

[aria-checked] .state--false {
  right: var(--offset);
}

[aria-checked='true']:enabled .state--true,
[aria-checked='false']:enabled .state--false {
  background-color: #fff;
}

[aria-checked='true']:disabled .state--true,
[aria-checked='false']:disabled .state--false {
  background-color: var(--c-alt-light);
}
.modal {
  position: fixed;
  will-change: transform;
  z-index: var(--plane-modal);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal.closed {
  display: none;
}

.modal-content {
  position: relative;
  overflow: auto;
  padding: calc(var(--spacing) * 2);
  box-shadow: 0 0 10px #000;
  background-color: var(--c-background);
}

.modal__close {
  position: absolute;
  top: calc(var(--spacing) / 2);
  right: calc(var(--spacing) / 2);
}

.modal-content h2 {
  margin-bottom: 0;
  border-bottom: 1px solid var(--c-alt-light);
}
/*
* This is some selector specificity-foo to override the utility class
* for visually hidden but keyboard-focusable elements.
*/
.skip-link.visually-hidden.focusable:focus {
  position: relative;
  display: inline-block;
  margin: var(--spacing);
  padding: calc(var(--spacing) / 2);
}
/*
* Container for all documents
*/
.doc-container {
  padding: var(--spacing);
}

/*
* Document view
*
* The document view contains a document. This document overflows.
*/
.doc-view {
  --page-aspect-ratio: 1.25;
  --page-width: 200px;
  --page-height: calc(var(--page-width) / var(--page-aspect-ratio));
  --border-width: 1px;

  width: 100%;
  height: var(--page-height);
  box-sizing: content-box;
  position: relative;
  z-index: var(--plane-document);

  overflow: hidden;
  border: var(--border-width) solid var(--c-alt-light);
  margin: calc(-1 * var(--border-width));
}

@media only screen and (min-width: 600px) {
  .doc-view {
    --page-width: 300px;
  }
}

.doc-view.active {
  --c-text: #000;
  --c-accent: hsl(220, 100%, 15%);
  --c-accent-dark: hsl(220, 100%, 5%);

  /*
  Elevate the active view above all other views. This is used to make its
  border visible when negative margins are used to collapse the border
  widths.
  */
  z-index: calc(var(--plane-document) + 10);
}

.doc-scrollbox {
  overflow-x: auto;
}

.doc {
  /* Clears floated .doc__page elements */
  display: flow-root;
}

.doc.select-disabled {
  /* as per: https://stackoverflow.com/a/4407335/2036825 */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}

.doc__page {
  float: left;
  width: var(--page-width);
  height: var(--page-height);
  position: relative;

  outline: var(--border-width) solid var(--c-alt-light);

  /* Make sure transparent slides appear on white background */
  background-color: #fff;
}

.doc__page:not(:last-child) {
  margin-right: var(--border-width);
}

.doc__page > img {
  display: block;

  /* Maintain aspect-ratio while filling the container */
  object-fit: contain;
  margin-right: auto;
  margin-left: auto;
  line-height: var(--page-height);
}

.doc-meta {
  padding: calc(var(--spacing) / 2);
}

.doc-meta__title {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1rem;
}

.doc-view.active .doc::before,
.doc-view.active .doc__page.active::before {
  content: '';
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.doc-view.active .doc::before {
  background-color: hsla(220, 50%, 40%, 0.15);
}

.doc-view.active .doc__page.active::before {
  border: 2px solid hsla(220, 50%, 40%, 0.25);
}

.doc-view.active .doc::before {
  z-index: 220;

  /*
  Custom properties don’t work on pseudo elements in Edge 15. See:
  https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11495448/
  In the future, this can be uncommented:
  */
  /* z-index: calc(var(--plane-document) + 20); */
}

.doc-view.active .doc__page.active::before {
  z-index: 230;

  /*
  Custom properties don’t work on pseudo elements in Edge 15. See:
  https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11495448/
  In the future, this can be uncommented:
  */
  /* z-index: calc(var(--plane-document) + 30); */
}

/* .dov-view {
  background-color: var(--c-alt-light);
}

.doc-view:not(.active) {
  padding-bottom: 8px;
}

.doc-view.active {
  overflow-x: auto;
  overflow-y: hidden;
}

.doc-view::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.doc-view::-webkit-scrollbar-thumb {
  background-color: var(--c-alt);
} */
:root {
  --toolbox-height: 48px;
}

.toolbox {
  --c-background: hsl(0, 0%, 85%);

  position: fixed;
  will-change: transform;
  top: 0;
  right: 0;
  left: 0;
  height: var(--toolbox-height);
  z-index: var(--plane-toolbox);
  display: flex;
  align-items: center;
  padding: calc(var(--spacing) / 2) calc(var(--spacing) * 2);
  background-color: var(--c-background);
}

.skip-link {
  top: var(--toolbox-height);
}

.main-content {
  padding-top: var(--toolbox-height);
}

.toolbox a {
  color: currentColor;
}

.toolbox > *:not(:last-child) {
  margin-right: calc(var(--spacing) * 2);
}

.site-title {
  margin-bottom: 0;
  font-size: 1rem;
}
.shortcut-table-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.shortcut-table__input {
  text-align: right;
  min-width: 10em;
}

.shortcut-table__action {
  text-align: left;
}

.shortcut-group:not(:last-child) {
  margin-bottom: calc(var(--spacing) / 2);
}

.shortcut-group > kbd {
  display: inline-block;
}

/*# sourceMappingURL=app.bundle.css.map*/