.slidehub-container {
  margin-left: 1px;
  margin-right: 1px;
}

/* avoid that slidehub footer overlaps with copyright */
.footer-section {
  margin-bottom: 10px;
}

/* in case alternate texts are shown */
.sh-page img {
  overflow: hidden;
  white-space: nowrap;
}

