#webis-aitable {
    display: table;
    table-layout: fixed;
}

#webis-aitable ul {
    display: table-cell;
    list-style-type: none;
    padding: 0;
}

#webis-aitable li {
    border: solid 1px rgb(50, 50, 50);
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 1em;
    margin: 1px;
    padding: 5px 1px;
    text-align: center;
    text-decoration: none;
    width: 85px;
    list-style-type: none;
}

#webis-aitable li.header {
    background: rgb(192, 192, 192);
    color: rgb(76, 76, 76);
    font-weight: bold;
    height: 22px;
}

#webis-aitable li.header:hover {
    background: rgb(210, 210, 210);
}

#webis-aitable a,
#webis-aitable a:link,
#webis-aitable a:visited {
    color: rgb(50, 50, 50) !important;
}

#webis-aitable a:hover {
    text-decoration: underline !important;
}

/* Aquisition (aq) */

#webis-aitable ul.aq li.component-active {
    background: rgb(245, 245, 220);
}

#webis-aitable ul.aq li.component-active:hover {
    background: rgb(255, 255, 245);
}

/* Information Extraction (ie) */

#webis-aitable ul.ie li.component-active {
    background: rgb(245, 222, 144);
}

#webis-aitable ul.ie li.component-active:hover {
    background: rgb(255, 245, 209);
}

/* Information Retrieval (ir) */

#webis-aitable ul.ir li.component-active {
    background: rgb(178, 211, 144);
}

#webis-aitable ul.ir li.component-active:hover {
    background: rgb(227, 244, 211);
}

/* Data Mining and Machine Learning (dm) */

#webis-aitable ul.dm li.component-active {
    background: rgb(142, 202, 245);
}

#webis-aitable ul.dm li.component-active:hover {
    background: rgb(218, 239, 255);
}

/* Information Visualization (iv) */

#webis-aitable ul.iv li.component-active {
    background: rgb(233, 161, 119);
}

#webis-aitable ul.iv li.component-active:hover {
    background: rgb(250, 217, 198);
}
