// Index page

.index-main-cover {
    background: $global-secondary-background url("../img/index-cover-optimized.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 450px;
    font-size: 1.05rem;

    h1 {
        font-size: 2.65rem;
    }
}

.cover-background-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.85) 85%);
}

@media (max-width: 400px) {
    .index-main-cover {
        height: 550px;
    }
}

@media (max-width: 300px) {
    .index-main-cover {
        height: 600px;
    }
}

@media (min-width: $breakpoint-medium) {
    .index-main-cover {
        height: 50vh;
    }
}
