#lecturenotes-slides {
    .date {
        width: 1%;
    }

    .links {
        width: 65px;
        text-align: right;
    }

    .table .placeholder {
        color: rgba(0, 0, 0, 0);
        cursor: default;
    }
}
