.popup:not(.popup-active) {
    display: none;
}
img[usemap] {
  max-width: initial;
}

.inline-list {
  padding-left: 0;

}
.inline-list li {
  display: inline;
  margin-right: 5px;
}
.inline-item-bullet::before {
  content: "[";
}
.inline-item-bullet::after {
  content: "]";
  margin-right: 3px;
}
