// UIkit layout variable overrides

// Fonts
$global-font-family: "Product Sans", "Noto Sans", "Verdana", sans-serif;
$global-font-size: 13px;
$global-hidpi-font-size: 14px;
$global-line-height: 1.5;
$global-hidpi-line-height: 1.6;
$text-lead-line-height: $global-hidpi-line-height;
$text-meta-line-height: $global-hidpi-line-height;
$text-small-line-height: 1.7;
$global-small-font-size: 0.875rem;
$section-header-text-transform: uppercase;

$global-xxlarge-font-size: 2.1rem;
$global-xlarge-font-size: 1.7rem;
$global-large-font-size: 1.2rem;

// Colours
$base-link-color: #0645ad;
$base-link-hover-color: lighten($base-link-color, 20);
$base-selection-background: #1c79cc;
$table-header-target-color: #d9e7f7;

$global-secondary-background: #323232;
$global-color: #222;
$global-muted-color: #666;

// Tables
$table-small-cell-padding-vertical: 5px;

// Lists
$list-margin-top: 5px;

// Navigation
$navbar-nav-item-height: 70px;
$navbar-nav-item-font-size: 1.02rem;
$nav-primary-item-font-size: 1.4rem;
$navbar-nav-item-padding-horizontal: 10px;
