@import url("../css/webis.css");
@import url("../css/webis-table.css");

table {
	margin-top: 3rem;
	margin-bottom: 0 !important;
}

table .numeric {
	text-align: right;
}

table.first_table_on_page {
	margin-top: 0;
}

table thead tr .header {
  height: 9px;
  cursor: pointer;
}
table thead tr .header:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAJCAAAAAD4aDiqAAAAAnRSTlMA/1uRIrUAAAACYktHRAD/h4/MvwAAAAlwSFlzAAAASAAAAEgARslrPgAAACtJREFUCNdj+A8HDQgmA0KwoQFTtKEBSZgBWRAujDABGRBQi9VcHG5AcS8Aru2sZGAVfZMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTMtMDYtMjBUMTI6MDk6MDkrMDI6MDA0Npv0AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDExLTExLTE3VDIzOjEzOjUzKzAxOjAwY3+0pwAAAABJRU5ErkJggg==);
}

table thead tr .sorting_asc:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAJCAQAAAB3Cq/9AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfhARAILiarrMHBAAAARklEQVQY042QQQ7AIAgEp3wcffl6sL3gal1CQsiEBRBrNFw3WNTfrAoHIgeHBx1c0JwggPJnqnwN8Mjt+jmcz8oNCNz/dQBsjzfiITxR2QAAAABJRU5ErkJggg==);
}

table thead tr .sorting_desc:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAJCAQAAAB3Cq/9AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfhARAILQEliydpAAAASklEQVQY042Q2woAIQgFx37c/PJ6qGhdLVIEL4McpRG9knULwWzG30oGksLSPOhKlcvW79CDATVYgNhdq8KAZeZnrfsgjS94/2sHm5My613mEeUAAAAASUVORK5CYII=);
}

table thead tr th:nth-child(8) {
	text-align: right;
}

table tbody td:nth-child(1) {
	width: 9rem;
	min-width: 9rem;
}
table tbody td:nth-child(2) {
	width: 9rem;
	min-width: 9rem;
}
table tbody td:nth-child(3) {
	width: 4rem;
	min-width: 4rem;
}
table tbody td:nth-child(4) {
	width: 7rem;
	min-width: 7rem;
}
table tbody td:nth-child(5) {
	width: 4rem;
	min-width: 4rem;
}
table tbody td:nth-child(6) {
	width: 7rem;
	min-width: 7rem;
}
table tbody td:nth-child(7) {
	min-width: 7rem;
}
table tbody td:nth-child(8) {
	width: 2rem;
	text-align: right;
	padding-right: 0.5rem;
}

table tbody td:nth-child(4) svg {
	color: rgba(0,0,0,.5);
}

table svg.fa-eye {
  color: royalblue !important;
}

table svg.fa-lock {
  color: black !important;
}
