@import url("../css/webis.css");
@import url("../css/webis-list.css");

.phone-ext {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAQAAABKmM6bAAAAAmJLR0QA75o43NsAAAAJcEhZcwAAAEgAAABIAEbJaz4AAAC0SURBVAjXY2Rg2MEgK8o496XvQ4ZfDEIMwtMY7zDc4mWc/Cv+PcNvhn8Mrxk4GFhYxBm73sW+Z2Bl+MXwgoGNQfEG0333L3EvGVl/qvQJb+L7ZXzMMITlQ+Njht8M4lOcyvYJssipvPr3lOWxwicGRoaXqqvEOZ7/fPuNwYiB5SPDb4YvDD/9jB6aFDH+YWBgYGBSYfjO8J9B7PjH6Qx/GBgYGBgYmPSnSTFwXRNK/nudAQoA5Lg70dfrWfYAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTMtMDYtMjBUMTE6Mjg6NTIrMDI6MDB0tX9bAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDEzLTA2LTIwVDExOjI4OjUyKzAyOjAwBejH5wAAAABJRU5ErkJggg==);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  margin-left: 1em;
  padding-left: 11px;
}

