/* DATE. February 16th, 2017 */

#webis-facilities {
  margin-bottom: 30px;
}

#webis-facilities .date {
  color: #666;
  padding-left: 12px;
}

#webis-facilities .entry {
  border-top-color: #D9D9D9;
  border-top-style: solid;
  border-top-width: 1px;
  padding-bottom: 15px;
  padding-top: 15px;
}

#webis-facilities .image {
  display: table-cell;
  vertical-align: middle;
  width: 120px;
}

#webis-facilities .phone-ext {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAQAAABKmM6bAAAAAmJLR0QA75o43NsAAAAJcEhZcwAAAEgAAABIAEbJaz4AAAC0SURBVAjXY2Rg2MEgK8o496XvQ4ZfDEIMwtMY7zDc4mWc/Cv+PcNvhn8Mrxk4GFhYxBm73sW+Z2Bl+MXwgoGNQfEG0333L3EvGVl/qvQJb+L7ZXzMMITlQ+Njht8M4lOcyvYJssipvPr3lOWxwicGRoaXqqvEOZ7/fPuNwYiB5SPDb4YvDD/9jB6aFDH+YWBgYGBSYfjO8J9B7PjH6Qx/GBgYGBgYmPSnSTFwXRNK/nudAQoA5Lg70dfrWfYAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTMtMDYtMjBUMTE6Mjg6NTIrMDI6MDB0tX9bAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDEzLTA2LTIwVDExOjI4OjUyKzAyOjAwBejH5wAAAABJRU5ErkJggg==);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  margin-left: 1em;
  padding-left: 11px;
}

#webis-facilities .right {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

#webis-facilities h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}
