<!doctype html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="&copy; {{site.time | date: '%Y'}} Webis">
    <link rel="icon" type="image/png" href="https://assets.webis.de/img/favicon.png">

    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}?{{site.time | date: '%s'}}">
    {%- for css in page.additional_css %}
    <link rel="stylesheet" href="{{ css | relative_url }}?{{site.time | date: '%s'}}">
    {%- endfor %}
</head>
<body class="uk-offcanvas-content">
<script src="https://assets.webis.de/js/thirdparty/uikit/uikit.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/uikit/uikit-icons.min.js"></script>

<div id="offcanvas-nav" class="mobile-nav" data-uk-offcanvas="overlay: true; flip: true;">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" data-uk-close></button>

        <!-- Off-canvas mobile navigation -->
        <nav class="uk-margin-large-top">
            <ul class="uk-nav uk-nav-primary uk-nav-parent-icon" data-uk-nav>
                <li{% if page.nav_active == "people" %} class="uk-active"{% endif %}>
                    <a href="{{ '/people.html' | relative_url }}">People</a>
                </li>
                <li{% if page.nav_active == "for-students" %} class="uk-active"{% endif %}>
                    <a href="{{ '/for-students.html' | relative_url }}">For&nbsp;Students</a>
                </li>
                <li{% if page.nav_active == "lecturenotes" %} class="uk-active"{% endif %}>
                    <a href="{{ '/lecturenotes.html' | relative_url }}">Lecturenotes</a>
                </li>
                <li{% if page.nav_active == "research" %} class="uk-active"{% endif %}>
                    <a href="{{ '/research.html' | relative_url }}">Research</a>
                </li>
                <li{% if page.nav_active == "publications" %} class="uk-active"{% endif %}>
                    <a href="{{ '/publications.html' | relative_url }}">Publications</a>
                </li>
                <li{% if page.nav_active == "data" %} class="uk-active"{% endif %}>
                    <a href="{{ '/data.html' | relative_url }}">Data</a>
                </li>
                <li{% if page.nav_active == "events" %} class="uk-active"{% endif %}>
                    <a href="{{ '/events.html' | relative_url }}">Events</a>
                </li>
                <li{% if page.nav_active == "facilities" %} class="uk-active"{% endif %}>
                    <a href="{{ '/facilities.html' | relative_url }}">Facilities</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="uk-background-secondary global-nav" data-uk-sticky>
    <nav class="uk-navbar-container uk-navbar-transparent uk-container uk-light" data-uk-navbar="mode: click">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li{% if page.nav_active == "index" %} class="uk-active"{% endif %}>
                    <a href="{{ '/' | relative_url }}"><img src="https://assets.webis.de/img/webis-logo.png" alt="Webis Logo" class="uk-logo"> Webis.de</a>
                </li>
            </ul>
        </div>

        <!-- Mobile navigation toggle button -->
        <div class="uk-navbar-right mobile-nav">
            <button class="uk-button uk-navbar-item uk-light uk-button-large" type="button" data-uk-icon="icon: menu"
                    data-uk-toggle="target: #offcanvas-nav"></button>
        </div>

        <!-- Desktop navigation -->
        <div class="uk-navbar-right desktop-nav">
            <ul class="uk-navbar-nav">
                <li{% if page.nav_active == "people" %} class="uk-active"{% endif %}>
                <a href="{{ '/people.html' | relative_url }}">People</a>
                </li>
                <li class="{% if page.nav_active == 'for-students' %} uk-active{% endif %}">
                    <a href="{{ '/for-students.html' | relative_url }}">For&nbsp;Students</a>
                </li>
                <li class="nav-group-start{% if page.nav_active == 'lecturenotes' %} uk-active{% endif %}">
                    <a href="{{ '/lecturenotes.html' | relative_url }}">Lecturenotes</a>
                </li>
                <li{% if page.nav_active == "research" %} class="uk-active"{% endif %}>
                <a href="{{ '/research.html' | relative_url }}">Research</a>
                </li>
                <li{% if page.nav_active == "publications" %} class="uk-active"{% endif %}>
                <a href="{{ '/publications.html' | relative_url }}">Publications</a>
                </li>
                <li class="nav-group-start{% if page.nav_active == 'data' %} uk-active{% endif %}">
                    <a href="{{ '/data.html' | relative_url }}">Data</a>
                </li>
                <li{% if page.nav_active == "events" %} class="uk-active"{% endif %}>
                <a href="{{ '/events.html' | relative_url }}">Events</a>
                </li>
                <li{% if page.nav_active == "facilities" %} class="uk-active"{% endif %}>
                <a href="{{ '/facilities.html' | relative_url }}">Facilities</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div data-uk-height-viewport="expand: true">
{{ content }}
</div>

<footer class="uk-section uk-section-muted footer-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-small" data-uk-grid>
            <div class="uk-text-muted uk-text-small search-engines uk-width-1-3@s uk-width-1-5@m">

                <h4>Search Engines</h4>

                <div>
                    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid>
                        <div class="uk-width-auto search-engine-icon">
                            <a href="http://www.args.me/" class="uk-link-reset"><img alt="Args.me" src="/research/img/args-logo.png"></a>
                        </div>
                        <div class="uk-width-expand">
                            <h5><a href="http://www.args.me/" class="uk-link-heading">Args</a></h5>
                            <div class="uk-text-small">Argument search</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid>
                        <div class="uk-width-auto search-engine-icon">
                            <a href="https://www.chatnoir.eu/" class="uk-link-reset"><img alt="ChatNoir" src="/research/img/chatnoir2-logo.png"></a>
                        </div>
                        <div class="uk-width-expand">
                            <h5><a href="https://www.chatnoir.eu/" class="uk-link-heading">ChatNoir</a></h5>
                            <div class="uk-text-small">Web search</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid>
                        <div class="uk-width-auto search-engine-icon">
                            <a href="https://www.chatnoir.eu/" class="uk-link-reset"><img alt="Netspeak" src="/research/img/netspeak-logo.png"></a></div>
                        <div class="uk-width-expand">
                            <h5><a href="http://netspeak.org/" class="uk-link-heading">Netspeak</a></h5>
                            <div class="uk-text-small">Writing assistance</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-grid uk-grid-small uk-margin-bottom" data-uk-grid>
                        <div class="uk-width-auto search-engine-icon">
                            <a href="http://picapica.org/" class="uk-link-reset"><img alt="Picapica" src="/research/img/picapica-logo.png"></a>
                        </div>
                        <div class="uk-width-expand">
                            <h5><a href="http://picapica.org/" class="uk-link-heading">Picapica</a></h5>
                            <div class="uk-text-small">Plagiarism detection</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-grid uk-grid-small uk-width-2-3@s uk-width-4-5@m" data-uk-grid>
                <div class="uk-width-expand uk-visible@m"></div>

                <div class="footer-link-column" style="width:8rem">
                    <ul class="uk-nav">
                        <li class="uk-nav-header">Groningen</li>
                        <li><a class="disabled">Home</a></li>
                        <li><a class="disabled">People</a></li>
                        <li><a class="disabled">Teaching</a></li>
                        <li><a class="disabled">Research</a></li>
                    </ul>
                </div>

                <div class="footer-link-column" style="width:7rem">
                    <ul class="uk-nav">
                        <li class="uk-nav-header">Jena</li>
                        <li><a href="https://jena.webis.de">Home</a></li>
                        <li><a class="disabled">People</a></li>
                        <li><a class="disabled">Teaching</a></li>
                        <li><a class="disabled">Research</a></li>
                    </ul>
                </div>

                <div class="footer-link-column" style="width:7rem">
                    <ul class="uk-nav">
                        <li class="uk-nav-header">Leipzig</li>
                        <li><a href="https://leipzig.webis.de">Home</a></li>
                        <li><a href="https://temir.org/people.html">People</a></li>
                        <li><a href="https://temir.org/teaching.html">Teaching</a></li>
                        <li><a href="https://temir.org/research.html">Research</a></li>
                    </ul>
                </div>

                <div class="footer-link-column" style="width:8rem">
                    <ul class="uk-nav">
                        <li class="uk-nav-header">Paderborn</li>
                        <li><a href="https://paderborn.webis.de">Home</a></li>
                        <li><a href="https://cs.uni-paderborn.de/css/group/group/">People</a></li>
                        <li><a href="https://cs.uni-paderborn.de/css/teaching/teaching/">Teaching</a></li>
                        <li><a href="https://cs.uni-paderborn.de/css/research/research/">Research</a></li>
                    </ul>
                </div>

                <div class="footer-link-column" style="width:6rem">
                    <ul class="uk-nav">
                        <li class="uk-nav-header">Weimar</li>
                        <li><a href="https://weimar.webis.de">Home</a></li>
                        <li><a href="https://weimar.webis.de/people/">People</a></li>
                        <li><a href="https://weimar.webis.de/teaching/">Teaching</a></li>
                        <li><a href="https://weimar.webis.de/research/">Research</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="uk-grid uk-grid-small uk-margin-top">
            <div class="uk-width-1-5@s">
              <!-- links specific to a service -->
            </div>
            <div class="uk-width-expand uk-visible@s"></div>
            <div>
              &copy; {{site.time | date: '%Y'}} <a href="/">Webis Group</a> <span class="uk-padding-small">&bullet;</span>
              <a href="https://github.com/webis-de"><span data-uk-icon="icon: github; ratio:0.8"></span></a> 
              <a href="https://twitter.com/webis_de"><span data-uk-icon="icon: twitter; ratio:0.9"></span></a> 
              <a href="https://www.youtube.com/webis"><span data-uk-icon="icon: youtube; ratio:0.9"></span></a> <span class="uk-padding-small">&bullet;</span>
              <a href="{{ '/people.html' | relative_url }}">Contact</a> <span class="uk-padding-small">&bullet;</span>
              <a href="{{ '/legal.html' | relative_url }}">Impressum / Terms / Privacy</a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
