---
layout: workshop
nav_active: organization
title: ArgMining 2019
description: 6th Workshop on Argument Mining
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="https://webis.de/index.html">Webis.de</a></li>
<li><a href="https://webis.de/events.html">Events</a></li>
<li><a href="index.html">ArgMining 2019</a></li>
<li class="uk-disabled"><a href="#">Organization</a></li>
</ul>
</nav>

<script type="application/ld+json">
{
    "@context":"http://schema.org/",
    "@type":"Workshop",
    "name":"ArgMining 2019",
    "description":"6th Workshop on Argument Mining",
    "url":"https://events.webis.de/argmining-19/",
    "creator":[
        {
            "@type":"Organization",
            "url":"https://webis.de/",
            "name":"The Web Technology & Information Systems Network",
            "alternateName":"Webis"
        },
    ],
    "includedInDataCatalog":{
    },
    "distribution":[
    ]
}
</script>

<main class="uk-section uk-section-default">
    <div class="uk-container">
        <h1>Organization</h1>

        <ul class="uk-list">
            <!-- Comment out sections you do not provide -->

            <li><span data-uk-icon="chevron-down"></span> <a href="#submission">Submission</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#policy">Policy</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#organizing-committee">Organizing Committee</a></li>
            <li><span data-uk-icon="chevron-down"></span> <a href="#program-committee">Program Committee</a></li>
        </ul>
    </div>

    <div class="uk-container uk-margin-medium">
        <!--
        SECTION Submission
        -->
        <h2 id="submission">Submission</h2>
        <p>ArgMining 2019 invites the submission of long and short papers on substantial, original, and unpublished research in all aspects of argument mining.
        </p>
        <p>

                Topics for submission include but are not limited to:
                <ul >
                    <li>Automatic identification of argument components (premises and conclusions or more fine-grained), and relations between arguments and counterarguments (support and attack or more fine-grained) in as well as across documents;
                    </li>
                    <li>Automatic assessment of properties of arguments and argumentation, such as argumentation schemes, stance, quality, and persuasiveness;
                    </li>
                    <li>Automatic synthesis of arguments and their components, including the con- sideration of discourse goals (e.g., stages of a critical discussion or rhetorical strategies) and the possibly needed preceding analyses;
                    </li>
                    <li>Creation and evaluation of argument annotation schemes, relationships to linguistic and discourse annotations, (semi-) automatic argument annotation methods and tools, and creation of argumentation corpora;
                    </li>
                    <li>Management of spoken and transcribed dialogue, argument mining from such data, including additional challenges posed by real-time processing;
                    </li>
                    <li>Combination of NLP methods and AI models developed for argumentation, such as abstract and structured argumentation frameworks;
                    </li>
                    <li>Combination of information retrieval methods with argument mining, e.g. in order to build the next generation of argumentative (web) search engines;
                    </li>
                    <li>Use of argument mining for studying research questions from the social sciences, digital humanities, and related fields;
                    </li>
                    <li>Real-world applications, including argument web search, opinion analysis in customer reviews, argument analysis in meetings, and applications in specific domains such as education, law, and scientific writing.
                    </li>
                </ul>
            </p>
            
        <ul>
        <li>Three types of papers can be submitted: Long papers (8 pages + references), short papers (4 pages + references), and demo papers (4 pages + references). Demo papers must include a URL to a running demo. Accepted papers will be given an additional page to account for the reviewers' comments. All papers will be treated equally in the workshop proceedings.</li>
        <li>Submission is electronic, using the Softconf START conference management system: <a class="title-link" href="https://www.softconf.com/acl2019/argmining/" target="blank">Submit your paper</a>.</li>
        <li>All paper submissions must use the official <a class="title-link" href="http://www.acl2019.org/EN/index.xhtml" target="blank">ACL 2019</a> style templates </li>
    

        </ul>
       
        <p> The workshop is running a double-blind review process. In preparing your manuscript, do not include any information which could reveal your identity, or that of your co-authors. The title section of your manuscript should not contain any author names, email addresses, or affiliation status. If you do include any author names on the title page, your submission will be automatically rejected. In the body of your submission, you should eliminate all direct references to your own previous work. That is, avoid phrases such as "this contribution generalizes our results for XYZ". Also, please do not disproportionately cite your own previous work. In other words, make your submission as anonymous as possible. We need your cooperation in our effort to maintain a fair, double-blind reviewing process - and to consider all submissions equally. 
        </p>

        <p>ArgMining 2019 will adhere to the <a target="_blank" href="http://aclweb.org/adminwiki/index.php?title=ACL_Policies_for_Submission,_Review_and_Citation">policies and guidelines for submission, review and citation</a>, recently released by the ACL. Submissions that violate any of these policies will be rejected without review.
        </p>
        <p>Papers that have been or will be submitted to other venues should indicate this at submission time. 
            Upon acceptance at either event, the submission must be withdrawn from the other. 
            To save reviewers efforts, avoid submitting (or withdraw early) papers that are on track to be accepted elsewhere.</p>

        <!--
        SECTION Policy
        -->
        <h2 id="policy">Policy</h2>
        <p>We abide by the <a target="_blank" href="https://www.aclweb.org/adminwiki/index.php?title=Anti-Harassment_Policy" >ACL anti-harassment policy</a>.</p>
        
        <!--
        SECTION Resources
        -->
    
        <!--
        SECTION Organizing Committee
        -->
        <!-- Use _includes/templates/people-card.html as a template for these cards. They do not need to be parametrized, this is just a demonstration. -->
        <h2 id="organizing-committee">Organizing Committee</h2>
    
        <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
            {% include people-cards/stein.html %}
            {% include people-cards/wachsmuth.html %}
        </div>
        <!--
        <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
            {% include people-cards/ashley.html %}
            {% include people-cards/cardie.html %}
            {% include people-cards/green.html %}
            {% include people-cards/gurevych.html %}
            {% include people-cards/habernal.html %}
            {% include people-cards/litman.html %}
            {% include people-cards/petasis.html %}
            {% include people-cards/reed.html %}
            {% include people-cards/slonim.html %}
            {% include people-cards/walker.html %}
        </div>
        -->

        <!--
        SECTION Program Committee
        -->
        <h2 id="program-committee">Program Committee</h2>
      <ul>
            
            <li>Ranit Aharonov, IBM Research AI</li>
            <li>Yamen Ajjour, Bauhaus-Universität Weimar</li>
            <li>Ahmet Aker, University of Duisburg-Essen</li>
            <li>Khalid Al-Khatib, Bauhaus-Universität Weimar</li>
            <li>Milad Alshomary, Paderborn University</li>
            <li>Carlos Alzate, IBM Research AI</li>
            <li>Kevin Ashley, University of Pittsburgh</li> <!---->

            <li>Roy Bar-Haim, IBM Research AI</li>
            <li>Chris Biemann, University of Hamburg</li>
            <li>Yonatan Bilu, IBM Research AI</li>
            <li>Andre Blessing, University of Stuttgart</li>
            <li>Miriam	Butt, University of Konstanz</li>
            <li>Elena Cabrio, Université Côte d'Azur, CNRS, Inria, I3S</li>
            <li>Claire Cardie, Cornell University</li><!---->
            <li>Johannes Daxenberger, Technische Universität Darmstadt</li>
            <li>Roxanne El Baff, Bauhaus-Universität Weimar</li>
            <li>Annette Frank, University of Heidelberg</li>
            <li>Michael Granitzer, University of Passau</li>
            <li>Nancy Green, University of North Carolina Greensboro</li><!---->
            <li>*Ivan Habernal, BIX</li><!---->
            <li>*Graeme Hirst, University of Toronto</li>
            <li>Yufang Hou, Yufang	Hou	IBM Research AI</li>
            <li>Jonas Kuhn, University of Stuttgart</li>
            <li>Gabriella Lapesa, University of Stuttgart</li>
            <li>John Lawrence, University of Dundee</li>
            <li>Beishui Liao, Zhejiang University</li>
            <li>Diane Litman, University of Pittsburgh</li><!---->

            <li>Marie-Francine Moens, KU Leuven</li>
            <li>Smaranda Muresan,	Columbia University</li>
            <li>Elena Musi, University of Liverpool</li>
            <li>Joonsuk Park, Williams College</li>
            
            <li>Georgios Petasis, NCSR Demokritos</li><!---->
            <li>Peter Potash, Microsoft Research</li>
            <li>Olesya Razuvayevskaya, University of Cambridge</li>

            <li>Chris Reed, University of Dundee</li><!---->
            <li>Ariel Rosenfeld, Bar-Ilan University</li>
            <li>Patrick Saint-Dizier, IRIT-CNRS</li>
            <li>*Jodi Schneider, University of Illinois at Urbana-Champaign</li>
            <li>Noam Slonim, IBM Research AI</li>
            <li>Manfred Stede, University of Potsdam</li>
            <li>Nicolas Turenne, Université Paris-Est Marne-la-Vallée</li>
            <li>Serena Villata,	CNRS</li>
            <li>Vern R. Walker,	Maurice A. Deane School of Law at Hofstra University</li><!---->
            <li>Zhongyu Wei, Fudan University</li>
            <li>Magdalena Wolska, Bauhaus-Universität Weimar</li>
            <li>Adam Wyner, Swansea University</li>
            
        </ul>
        <i>∗ The marked PC members form the Best Paper Committee.</i>
    </div>
</main>
