* {
	margin: 0;
	padding: 0;
}

body {
    background: #E2E7FF;
	font: 73% Arial, Helvetica, sans-serif;
	padding: 0px;
	text-align: center;
}

.header
{
	background: #FFFFFF;
	color: #000000;
	margin: 3px;
	margin-top: 5px;
	position: relative;
	border-bottom: solid 4px #ccc;
}

.all
{
	background: #FFFFFF;
    border: solid 1px #66B0CD;
	color: #000000;
	margin: 0px auto;
	max-width: 900px;
	padding: 0 3px 3px 3px;
	text-align: left;
}

.main
{
	border: solid 0px #000;
	margin: 3px;
	margin-top: 2em;
	padding: 0px;
	position: relative;
	overflow: hidden;
	font-size: 13px;
}

.naviagation {
    padding: 3px;
    padding-right: 3em;
}

.naviagation ul {
    white-space: nowrap;
}

.naviagation ul li {
    margin-bottom: 5px;
}

.naviagation a {
	font-weight: bold;
}

.content {
    padding-right: 15px;
}

.content h2 { 
    font-size: 1.3em;
    color: #339;
    padding-bottom: 0.75em;
}

h3 { 
    font-size: 1.0em;
    padding-bottom: 0.5em;
}

.content .title {
  	text-align: center;
    padding-bottom: 4em;
}

.content .title h1 {
    font-size: 1.8em;
    color: #339;
    padding-top: 0px;
    padding-bottom: 5px;
}

.content .title h2 {
	font-weight: bold;
	color: #000;
    font-size: 1.1em;
    padding: 5px;
}

.content .section {
    padding-bottom: 4em;
}

.wrap {
	border: 0;
	clear: both;
	float: none;
	font-size: 1px;
	height: 0;
	line-height: 1px;
	margin: 0;
	padding: 0;
	visibility: hidden;
}

.bar {
    background: #333399;
    min-height: 4em;
    margin-top: 2px;
}

.footer {
    background: #333399;
    color: #fff;
    padding: 5px;
    text-align: right;
    border-top: solid 4px #ccc;
}

a {	text-decoration: none; }

a:link { color:#1F597F; }

a:visited { color: #1F597F; }

a:hover { text-decoration: underline; }

ul {
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 5px;
}

ul li {
    list-style-type: disc;
    margin-bottom: 2px;
}


